prototype/raspberrypi_2/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ddc0609.5d2368",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "eab52bfa.011628",
                "beaa0e4b.8f50f"
            ]
        ]
    },
    {
        "id": "eab52bfa.011628",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Sucks",
        "topic": "Matt",
        "qos": "",
        "retain": "",
        "broker": "8536052d.47c468",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "beaa0e4b.8f50f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "66f4c306.02e7dc",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "Matt",
        "qos": "2",
        "datatype": "auto",
        "broker": "8536052d.47c468",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "6e8b0e0.41d11f4"
            ]
        ]
    },
    {
        "id": "6e8b0e0.41d11f4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "8536052d.47c468",
        "type": "mqtt-broker",
        "name": "",
        "broker": "activemq",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]