transmission_strength_monitoring_system/raspberrypi_2/Dummy_Data_Flows_Raspberry_Pi_2.json
[{"id":"579c5ade.96d984","type":"tab","label":"Dummy Input Data","disabled":false,"info":"A flow that will send a stream of dummy input data into the system for testing."},{"id":"d529ecf4.de604","type":"mqtt out","z":"579c5ade.96d984","name":"MQTT out","topic":"","qos":"2","retain":"","broker":"72c39b90.91b164","x":1320,"y":320,"wires":[]},{"id":"2cd3f0b9.e7b07","type":"array-loop","z":"579c5ade.96d984","name":"","key":"key","keyType":"msg","reset":true,"resetValue":"value-null","array":"array","arrayType":"msg","x":500,"y":240,"wires":[[],["fd9320f1.a0ad"]]},{"id":"c0fa1c3c.ccbde","type":"inject","z":"579c5ade.96d984","name":"Start","props":[],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":240,"wires":[["87dc9b55.55e5a8"]]},{"id":"87dc9b55.55e5a8","type":"function","z":"579c5ade.96d984","name":"For Each Site","func":"msg.array = [\n        {\n            \"site\" : \"Sandale\",\n            \"sitecode\" : \"SL\",\n            \"transmitters\" : [\"Transmitter1\", \"Transmitter2\", \"Transmitter3\"],\n            \"latitude\" : 54.82122533219597,\n            \"longitude\" : -3.159331096796309\n        },\n        {\n            \"site\" : \"Black_Hill\",\n            \"sitecode\" : \"BKH\",\n            \"transmitters\" : [\"Transmitter1\", \"Transmitter2\", \"Transmitter3\"],\n            \"latitude\" : 53.53887692027114,\n            \"longitude\" : -1.8833231068889196\n        },\n        {\n            \"site\" : \"North Hessary Tor\",\n            \"sitecode\" : \"NHT\",\n            \"transmitters\" : [\"Transmitter1\", \"Transmitter2\", \"Transmitter3\"],\n            \"latitude\" : 50.551173045480354, \n            \"longitude\" : -4.007175386114853\n        },\n        {\n            \"site\" : \"Rowridge\",\n            \"sitecode\" : \"ROW\",\n            \"transmitters\" : [\"Transmitter1\", \"Transmitter2\", \"Transmitter3\"],\n            \"latitude\" : 50.67010550875724,\n            \"longitude\" : -1.365939941365424 \n        },\n        {\n            \"site\" : \"Blaenplwyf\",\n            \"sitecode\" : \"BY\",\n            \"transmitters\" : [\"Transmitter1\", \"Transmitter2\", \"Transmitter3\"],\n            \"latitude\" : 52.36020091928244, \n            \"longitude\" : -4.090978617648264\n        },\n        {\n            \"site\" : \"Holme Moss\",\n            \"sitecode\" : \"HM\",\n            \"transmitters\" : [\"Transmitter1\", \"Transmitter2\", \"Transmitter3\"],\n            \"latitude\" : 53.532763058130556,\n            \"longitude\" : -1.857177447660579\n        },\n        {\n            \"site\" : \"Tacolneston\",\n            \"sitecode\" : \"TAC\",\n            \"transmitters\" : [\"Transmitter1\", \"Transmitter2\", \"Transmitter3\"],\n            \"latitude\" : 52.51198114318111, \n            \"longitude\" : 1.1571197419791492\n        }\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["2cd3f0b9.e7b07"]]},{"id":"fd9320f1.a0ad","type":"delay","z":"579c5ade.96d984","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":320,"wires":[["2cd3f0b9.e7b07","eb9a000.94a5c"]]},{"id":"e1442c9d.fb6b1","type":"function","z":"579c5ade.96d984","name":"Create JSON","func":"site = msg.site;\nsitename = site[\"site\"];\nsitecode = site[\"sitecode\"];\ntransmitterID = msg.payload;\n\nr0 = 100; //Resistance at 0°C; Assume 100 for the selected thermistors\n\n// Coefficents of thermistors\na0 = 0.003927; \na02 = 0.003927;\n\n// Dummy values for resistance given by each thermistor\nrt = Math.floor(Math.random() * 20) + 100; \nrt2 = rt + (Math.floor(Math.random() * 20));\n\n// Dummy value for flow rate\nflowRate = Math.floor(Math.random() * 45) + 5;\n\n// Calculate temperature from resistances and flowrates\ntemperatureIn = (rt/(r0 * a0) - (1/a0));\ntemperatureOut = (rt2/(r0 * a02) - (1/a02));\n\n// Calculate power level\npowerLevel = ((temperatureOut - temperatureIn) * flowRate) * 0.07;\n\nvar data = {\n    \"tempIn\": temperatureIn,\n    \"tempOut\": temperatureOut,\n    \"powerLevel\": powerLevel,\n    \"flowRate\": flowRate,\n    \"latitude\": site[\"latitude\"],\n    \"longitude\": site[\"longitude\"],\n    \"resistanceIn\": rt,\n    \"resistanceOut\": rt2,\n    \"coefficientIn\": a0,\n    \"coefficientOut\": a02,\n    \"sitecode\": sitecode\n};\n    \nmsg.payload = data;\nmsg.topic = \"Arqiva/\" + sitename + \"/\" + transmitterID;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":420,"wires":[["d529ecf4.de604"]]},{"id":"859cb6b0.e17b28","type":"array-loop","z":"579c5ade.96d984","name":"","key":"key2","keyType":"msg","reset":true,"resetValue":"value-null","array":"array2","arrayType":"msg","x":970,"y":240,"wires":[[],["bae0ce28.3ef6d"]]},{"id":"bae0ce28.3ef6d","type":"delay","z":"579c5ade.96d984","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":320,"wires":[["859cb6b0.e17b28","e1442c9d.fb6b1"]]},{"id":"eb9a000.94a5c","type":"function","z":"579c5ade.96d984","name":"For Each Antenna","func":"site = msg.payload;\nmsg.array2 = site[\"transmitters\"];\nmsg.site = site;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":240,"wires":[["859cb6b0.e17b28"]]},{"id":"efec1e0f.ec7dc","type":"comment","z":"579c5ade.96d984","name":"Add new sites/antennas here.","info":"","x":300,"y":460,"wires":[]},{"id":"a46c8793.a136e8","type":"comment","z":"579c5ade.96d984","name":"Add new data here.","info":"","x":1150,"y":460,"wires":[]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","tls":"","clientid":"test-harness","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]