prototype/Raspberry Pi Flows/end_to_end_v2.json
[{"id":"47063e73.5f0d18","type":"tab","label":"end_to_end_wrotham","disabled":false,"info":""},{"id":"c17945f8.d0de6","type":"tab","label":"end_to_end_sandale","disabled":false,"info":""},{"id":"d0fd817c.9e233","type":"tab","label":"end_to_end_black_hill","disabled":false,"info":""},{"id":"c357705.f7e209","type":"tab","label":"calibrate_thermocouple_type_r","disabled":false,"info":""},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7bb95050.a015c8","type":"inject","z":"47063e73.5f0d18","name":"Start","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["ea48a1bc.80a12","1a46b6fc.c0d609"]]},{"id":"ea48a1bc.80a12","type":"function","z":"47063e73.5f0d18","name":"Create JSON","func":"tempIn = Math.floor(Math.random() * 81) + 20; \ntempOut = tempIn + (Math.floor(Math.random() * 20));\npowerLevel = 100 + (Math.floor(Math.random() * 20) - 10);\nflowRate = 25 + (Math.floor(Math.random() * 20) - 10);\nlatitude = 51.31051736967821;\nlongitude = 0.29849581684507465;\nname = \"Wrotham\";\nantenna = \"Antenna 1\";\n\nvar data={\n    \"Arqiva\": {\n        \"Wrotham\":{\n            \"Antenna1\":{\n                \"tempIn\": tempIn,\n                \"tempOut\": tempOut,\n                \"powerLevel\": powerLevel,\n                \"flowRate\": flowRate,\n                \"latitude\": latitude,\n                \"longitude\": longitude,\n                \"name\": name,\n                \"antenna\": antenna,\n            }\n        }\n    }\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[["cb3e3f47.7b97c","3cdf87b.7f71278","9de87a83.6808e8","d6c082a9.0008d8","38285992.f30ec6","41f16f7d.638988","a233f65d.3f8e78","11a130c7.82c9df"]]},{"id":"188557af.7d3c28","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/tempIn","topic":"Arqiva/Wrotham/Antenna1/tempIn","qos":"2","retain":"","broker":"72c39b90.91b164","x":780,"y":40,"wires":[]},{"id":"f0525bc.e913928","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":540,"wires":[["bff15c50.6879a"]]},{"id":"bff15c50.6879a","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":540,"wires":[]},{"id":"55c220d8.5e8d08","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/tempIn","topic":"Arqiva/Wrotham/Antenna1/tempIn","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":580,"y":540,"wires":[["f0525bc.e913928"]]},{"id":"cb3e3f47.7b97c","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna1.tempIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":40,"wires":[["188557af.7d3c28"]]},{"id":"3cdf87b.7f71278","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna1.tempOut;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":100,"wires":[["a8120e41.b5def8"]]},{"id":"9de87a83.6808e8","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna1.powerLevel;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":160,"wires":[["2f422d7d.e7266a"]]},{"id":"d6c082a9.0008d8","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna1.flowRate;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":220,"wires":[["a6a4e8c7.c2daa8"]]},{"id":"a8120e41.b5def8","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/tempOut","topic":"Arqiva/Wrotham/Antenna1/tempOut","qos":"2","retain":"","broker":"72c39b90.91b164","x":790,"y":100,"wires":[]},{"id":"2f422d7d.e7266a","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/powerLevel","topic":"Arqiva/Wrotham/Antenna1/powerLevel","qos":"2","retain":"","broker":"72c39b90.91b164","x":790,"y":160,"wires":[]},{"id":"a6a4e8c7.c2daa8","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/flowRate","topic":"Arqiva/Wrotham/Antenna1/flowRate","qos":"2","retain":"","broker":"72c39b90.91b164","x":790,"y":220,"wires":[]},{"id":"38285992.f30ec6","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna1.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":280,"wires":[["c06c4948.d447b8"]]},{"id":"c06c4948.d447b8","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/latitude","topic":"Arqiva/Wrotham/Antenna1/latitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":780,"y":280,"wires":[]},{"id":"41f16f7d.638988","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna1.longitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":340,"wires":[["5b93d539.b91c84"]]},{"id":"5b93d539.b91c84","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/longitude","topic":"Arqiva/Wrotham/Antenna1/longitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":790,"y":340,"wires":[]},{"id":"dbd2124d.b7dbb8","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":600,"wires":[["1b99829d.28566d"]]},{"id":"1b99829d.28566d","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":600,"wires":[]},{"id":"5483dcbe.506964","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/tempOut","topic":"Arqiva/Wrotham/Antenna1/tempOut","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":580,"y":600,"wires":[["dbd2124d.b7dbb8"]]},{"id":"670de8e9.1ac4a","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":660,"wires":[["adce0398.cd5d58"]]},{"id":"adce0398.cd5d58","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":660,"wires":[]},{"id":"ab738dda.245d38","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/powerLevel","topic":"Arqiva/Wrotham/Antenna1/powerLevel","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":590,"y":660,"wires":[["670de8e9.1ac4a"]]},{"id":"8c6082fd.f0f36","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":720,"wires":[["cbb1bc5e.f0f91"]]},{"id":"cbb1bc5e.f0f91","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":720,"wires":[]},{"id":"be64444d.690b","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/flowRate","topic":"Arqiva/Wrotham/Antenna1/flowRate","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":580,"y":720,"wires":[["8c6082fd.f0f36"]]},{"id":"c53ad0d6.334e68","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":780,"wires":[["ddd14866.43098"]]},{"id":"ddd14866.43098","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":780,"wires":[]},{"id":"4a3197a.d58f8e8","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/latitude","topic":"Arqiva/Wrotham/Antenna1/latitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":580,"y":780,"wires":[["c53ad0d6.334e68"]]},{"id":"fb2ca769.a7fd38","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":840,"wires":[["383d404e.bc0e88"]]},{"id":"383d404e.bc0e88","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":840,"wires":[]},{"id":"f45b6627.2ce5d","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/longitude","topic":"Arqiva/Wrotham/Antenna1/longitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":580,"y":840,"wires":[["fb2ca769.a7fd38"]]},{"id":"a233f65d.3f8e78","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna1.name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":400,"wires":[["a3f842fc.6e51c"]]},{"id":"a3f842fc.6e51c","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/name","topic":"Arqiva/Wrotham/Antenna1/name","qos":"2","retain":"","broker":"72c39b90.91b164","x":780,"y":400,"wires":[]},{"id":"11a130c7.82c9df","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna1.antenna;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":460,"wires":[["ee16c4f0.8d5ec"]]},{"id":"ee16c4f0.8d5ec","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/antenna","topic":"Arqiva/Wrotham/Antenna1/antenna","qos":"2","retain":"","broker":"72c39b90.91b164","x":780,"y":460,"wires":[]},{"id":"81cfe3ac.5c344","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":900,"wires":[["1e626d9c.0befb2"]]},{"id":"1e626d9c.0befb2","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":900,"wires":[]},{"id":"448562e8.2fa1b4","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/name","topic":"Arqiva/Wrotham/Antenna1/name","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":570,"y":900,"wires":[["81cfe3ac.5c344"]]},{"id":"76e95f21.abd9a8","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=msg.payload;\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":960,"wires":[["be7783b7.f3b99"]]},{"id":"be7783b7.f3b99","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":960,"wires":[]},{"id":"b624d879.21f84","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna1/antenna","topic":"Arqiva/Wrotham/Antenna1/antenna","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":580,"y":960,"wires":[["76e95f21.abd9a8"]]},{"id":"1a46b6fc.c0d609","type":"function","z":"47063e73.5f0d18","name":"Create JSON","func":"tempIn = Math.floor(Math.random() * 81) + 20; \ntempOut = tempIn + (Math.floor(Math.random() * 20));\npowerLevel = 100 + (Math.floor(Math.random() * 20) - 10);\nflowRate = 25 + (Math.floor(Math.random() * 20) - 10);\nlatitude = 51.31051736967821;\nlongitude = 0.29849581684507465;\nname = \"Wrotham\";\nantenna = \"Antenna 2\";\n\nvar data={\n    \"Arqiva\": {\n        \"Wrotham\":{\n            \"Antenna2\":{\n                \"tempIn\": tempIn,\n                \"tempOut\": tempOut,\n                \"powerLevel\": powerLevel,\n                \"flowRate\": flowRate,\n                \"latitude\": latitude,\n                \"longitude\": longitude,\n                \"name\": name,\n                \"antenna\": antenna,\n            }\n        }\n    }\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1080,"wires":[["8e23ac7f.e71","43220628.24a89","f26ba27f.6ddd28","c28aaddd.d92668","33f2fa95.538d36","db34af62.3c6408","98a54413.9e7fa8","405ef2c7.e21fc4"]]},{"id":"1f66cec1.cfe0a1","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/tempIn","topic":"Arqiva/Wrotham/Antenna2/tempIn","qos":"2","retain":"","broker":"72c39b90.91b164","x":790,"y":1080,"wires":[]},{"id":"874183cc.57d168","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1600,"wires":[["586d7df.c454304"]]},{"id":"586d7df.c454304","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1600,"wires":[]},{"id":"a5a59b4d.62f79","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/tempIn","topic":"Arqiva/Wrotham/Antenna2/tempIn","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":590,"y":1600,"wires":[["874183cc.57d168"]]},{"id":"8e23ac7f.e71","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna2.tempIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1080,"wires":[["1f66cec1.cfe0a1"]]},{"id":"43220628.24a89","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna2.tempOut;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1140,"wires":[["f363da8.6252428"]]},{"id":"f26ba27f.6ddd28","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna2.powerLevel;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1200,"wires":[["3db543df.b6a92c"]]},{"id":"c28aaddd.d92668","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna2.flowRate;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1260,"wires":[["62bbe99e.d3c168"]]},{"id":"f363da8.6252428","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/tempOut","topic":"Arqiva/Wrotham/Antenna2/tempOut","qos":"2","retain":"","broker":"72c39b90.91b164","x":800,"y":1140,"wires":[]},{"id":"3db543df.b6a92c","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/powerLevel","topic":"Arqiva/Wrotham/Antenna2/powerLevel","qos":"2","retain":"","broker":"72c39b90.91b164","x":800,"y":1200,"wires":[]},{"id":"62bbe99e.d3c168","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/flowRate","topic":"Arqiva/Wrotham/Antenna2/flowRate","qos":"2","retain":"","broker":"72c39b90.91b164","x":800,"y":1260,"wires":[]},{"id":"33f2fa95.538d36","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna2.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1320,"wires":[["210fb018.6d6c6"]]},{"id":"210fb018.6d6c6","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/latitude","topic":"Arqiva/Wrotham/Antenna2/latitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":790,"y":1320,"wires":[]},{"id":"db34af62.3c6408","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna2.longitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1380,"wires":[["e54e653b.fe2c88"]]},{"id":"e54e653b.fe2c88","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/longitude","topic":"Arqiva/Wrotham/Antenna2/longitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":800,"y":1380,"wires":[]},{"id":"ba0dea57.0cd048","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1660,"wires":[["abd80eb1.413538"]]},{"id":"abd80eb1.413538","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1660,"wires":[]},{"id":"572188f0.939","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/tempOut","topic":"Arqiva/Wrotham/Antenna2/tempOut","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":590,"y":1660,"wires":[["ba0dea57.0cd048"]]},{"id":"ab9687a.888aaf8","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1720,"wires":[["2cb752be.9e4ff6"]]},{"id":"2cb752be.9e4ff6","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1720,"wires":[]},{"id":"610f0100.1d4648","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/powerLevel","topic":"Arqiva/Wrotham/Antenna2/powerLevel","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":600,"y":1720,"wires":[["ab9687a.888aaf8"]]},{"id":"94e4a2cf.f71b28","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1780,"wires":[["b4e4eb93.33db08"]]},{"id":"b4e4eb93.33db08","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1780,"wires":[]},{"id":"4b086dd6.09748c","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/flowRate","topic":"Arqiva/Wrotham/Antenna2/flowRate","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":590,"y":1780,"wires":[["94e4a2cf.f71b28"]]},{"id":"5c4b6c35.51217c","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1840,"wires":[["3c0ecd57.7c1172"]]},{"id":"3c0ecd57.7c1172","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1840,"wires":[]},{"id":"fa9003f5.951098","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/latitude","topic":"Arqiva/Wrotham/Antenna2/latitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":590,"y":1840,"wires":[["5c4b6c35.51217c"]]},{"id":"71f02a53.60322c","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1900,"wires":[["7b504bc1.29806c"]]},{"id":"7b504bc1.29806c","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1900,"wires":[]},{"id":"f426996c.1f35","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/longitude","topic":"Arqiva/Wrotham/Antenna2/longitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":590,"y":1900,"wires":[["71f02a53.60322c"]]},{"id":"98a54413.9e7fa8","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna2.name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1440,"wires":[["dd09a140.c8c3b8"]]},{"id":"dd09a140.c8c3b8","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/name","topic":"Arqiva/Wrotham/Antenna2/name","qos":"2","retain":"","broker":"72c39b90.91b164","x":790,"y":1440,"wires":[]},{"id":"405ef2c7.e21fc4","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Wrotham.Antenna2.antenna;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1500,"wires":[["41221a3d.8a09cc"]]},{"id":"41221a3d.8a09cc","type":"mqtt out","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/antenna","topic":"Arqiva/Wrotham/Antenna2/antenna","qos":"2","retain":"","broker":"72c39b90.91b164","x":790,"y":1500,"wires":[]},{"id":"9551b848.bdf788","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1960,"wires":[["f1dd396d.6692b"]]},{"id":"f1dd396d.6692b","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1960,"wires":[]},{"id":"3efcb768.bb0f5","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/name","topic":"Arqiva/Wrotham/Antenna2/name","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":580,"y":1960,"wires":[["9551b848.bdf788"]]},{"id":"159adf94.8f4fe8","type":"function","z":"47063e73.5f0d18","name":"Parse JSON","func":"p=msg.payload;\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":2020,"wires":[["f7a69951.2b5668"]]},{"id":"f7a69951.2b5668","type":"debug","z":"47063e73.5f0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":2020,"wires":[]},{"id":"2accd01e.23dab8","type":"mqtt in","z":"47063e73.5f0d18","name":"Arqiva/Wrotham/Antenna2/antenna","topic":"Arqiva/Wrotham/Antenna2/antenna","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":590,"y":2020,"wires":[["159adf94.8f4fe8"]]},{"id":"cb2bbc6c.a8ef","type":"inject","z":"c17945f8.d0de6","name":"Start","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":100,"wires":[["af6fbaeb.96fee8","bbc09ab8.619e98"]]},{"id":"af6fbaeb.96fee8","type":"function","z":"c17945f8.d0de6","name":"Create JSON","func":"tempIn = Math.floor(Math.random() * 81) + 20; \ntempOut = tempIn + (Math.floor(Math.random() * 20));\npowerLevel = 100 + (Math.floor(Math.random() * 20) - 10);\nflowRate = 25 + (Math.floor(Math.random() * 20) - 10);\nlatitude = 54.82122533219597;\nlongitude = -3.159331096796309;\nname = \"Sandale\";\nantenna = \"Antenna 1\";\n\nvar data={\n    \"Arqiva\": {\n        \"Sandale\":{\n            \"Antenna1\":{\n                \"tempIn\": tempIn,\n                \"tempOut\": tempOut,\n                \"powerLevel\": powerLevel,\n                \"flowRate\": flowRate,\n                \"latitude\": latitude,\n                \"longitude\": longitude,\n                \"name\": name,\n                \"antenna\": antenna,\n            }\n        }\n    }\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[["4ee0a3ae.19808c","7cdbeff8.480cb8","53a21170.8fe97","d42444cc.4231f","38f2ae5a.1f264a","2aeb1716.fd2d88","9dfe23cc.ec6ab8","aeeea80f.06ebf"]]},{"id":"ae743cfa.26d918","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/tempIn","topic":"Arqiva/Sandale/Antenna1/tempIn","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":100,"wires":[]},{"id":"71302917.798b","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":620,"wires":[["46621956.a4dda8"]]},{"id":"46621956.a4dda8","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":620,"wires":[]},{"id":"68fb994c.44716","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/tempIn","topic":"Arqiva/Sandale/Antenna1/tempIn","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":670,"y":620,"wires":[["71302917.798b"]]},{"id":"4ee0a3ae.19808c","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna1.tempIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":100,"wires":[["ae743cfa.26d918"]]},{"id":"7cdbeff8.480cb8","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna1.tempOut;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":160,"wires":[["b8977249.5bcff"]]},{"id":"53a21170.8fe97","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna1.powerLevel;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":220,"wires":[["edd8544e.96db98"]]},{"id":"d42444cc.4231f","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna1.flowRate;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":280,"wires":[["1b7ad6a6.616b61"]]},{"id":"b8977249.5bcff","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/tempOut","topic":"Arqiva/Sandale/Antenna1/tempOut","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":160,"wires":[]},{"id":"edd8544e.96db98","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/powerLevel","topic":"Arqiva/Sandale/Antenna1/powerLevel","qos":"2","retain":"","broker":"72c39b90.91b164","x":890,"y":220,"wires":[]},{"id":"1b7ad6a6.616b61","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/flowRate","topic":"Arqiva/Sandale/Antenna1/flowRate","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":280,"wires":[]},{"id":"38f2ae5a.1f264a","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna1.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":340,"wires":[["4f3f1584.02855c"]]},{"id":"4f3f1584.02855c","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/latitude","topic":"Arqiva/Sandale/Antenna1/latitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":340,"wires":[]},{"id":"2aeb1716.fd2d88","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna1.longitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":400,"wires":[["a06e68ca.5cb128"]]},{"id":"a06e68ca.5cb128","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/longitude","topic":"Arqiva/Sandale/Antenna1/longitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":400,"wires":[]},{"id":"e8b72537.ca385","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":680,"wires":[["a2f001f4.5900a"]]},{"id":"a2f001f4.5900a","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":680,"wires":[]},{"id":"761da7b8.e5682","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/tempOut","topic":"Arqiva/Sandale/Antenna1/tempOut","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":680,"y":680,"wires":[["e8b72537.ca385"]]},{"id":"c7351bca.e5f408","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":740,"wires":[["680090c.037c5f"]]},{"id":"680090c.037c5f","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":740,"wires":[]},{"id":"6327511e.49fba","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/powerLevel","topic":"Arqiva/Sandale/Antenna1/powerLevel","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":690,"y":740,"wires":[["c7351bca.e5f408"]]},{"id":"d8c35114.fc0f3","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":800,"wires":[["f9be7897.2ddc4"]]},{"id":"f9be7897.2ddc4","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":800,"wires":[]},{"id":"9b118ca6.937bd8","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/flowRate","topic":"Arqiva/Sandale/Antenna1/flowRate","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":680,"y":800,"wires":[["d8c35114.fc0f3"]]},{"id":"c5cd51e.a5360b","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":860,"wires":[["13f323ad.f3a3a4"]]},{"id":"13f323ad.f3a3a4","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":860,"wires":[]},{"id":"9658b51f.092e7","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/latitude","topic":"Arqiva/Sandale/Antenna1/latitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":670,"y":860,"wires":[["c5cd51e.a5360b"]]},{"id":"d573391c.e51f5","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":920,"wires":[["cfff9e49.462178"]]},{"id":"cfff9e49.462178","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":920,"wires":[]},{"id":"8af54f18.8fa3a","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/longitude","topic":"Arqiva/Sandale/Antenna1/longitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":680,"y":920,"wires":[["d573391c.e51f5"]]},{"id":"9dfe23cc.ec6ab8","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna1.name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":460,"wires":[["47139052.add5b8"]]},{"id":"47139052.add5b8","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/name","topic":"Arqiva/Sandale/Antenna1/name","qos":"2","retain":"","broker":"72c39b90.91b164","x":870,"y":460,"wires":[]},{"id":"aeeea80f.06ebf","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna1.antenna;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":520,"wires":[["9e5be6d1.48aee8"]]},{"id":"9e5be6d1.48aee8","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/antenna","topic":"Arqiva/Sandale/Antenna1/antenna","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":520,"wires":[]},{"id":"2bf1f881.babb08","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":980,"wires":[["1512a3b5.fbfbb4"]]},{"id":"1512a3b5.fbfbb4","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":980,"wires":[]},{"id":"a903d838.01988","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/name","topic":"Arqiva/Sandale/Antenna1/name","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":670,"y":980,"wires":[["2bf1f881.babb08"]]},{"id":"edf70848.75329","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=msg.payload;\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1040,"wires":[["4f43566b.8d419"]]},{"id":"4f43566b.8d419","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1040,"wires":[]},{"id":"bd31d644.fe8f5","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna1/antenna","topic":"Arqiva/Sandale/Antenna1/antenna","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":680,"y":1040,"wires":[["edf70848.75329"]]},{"id":"bbc09ab8.619e98","type":"function","z":"c17945f8.d0de6","name":"Create JSON","func":"tempIn = Math.floor(Math.random() * 81) + 20; \ntempOut = tempIn + (Math.floor(Math.random() * 20));\npowerLevel = 100 + (Math.floor(Math.random() * 20) - 10);\nflowRate = 25 + (Math.floor(Math.random() * 20) - 10);\nlatitude = 54.82122533219597;\nlongitude = -3.159331096796309;\nname = \"Sandale\";\nantenna = \"Antenna 2\";\n\nvar data={\n    \"Arqiva\": {\n        \"Sandale\":{\n            \"Antenna2\":{\n                \"tempIn\": tempIn,\n                \"tempOut\": tempOut,\n                \"powerLevel\": powerLevel,\n                \"flowRate\": flowRate,\n                \"latitude\": latitude,\n                \"longitude\": longitude,\n                \"name\": name,\n                \"antenna\": antenna,\n            }\n        }\n    }\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1140,"wires":[["e311e03a.e1768","71857234.c21efc","6f8c0e9e.2def7","e1451557.d59a28","46d543bc.3cef7c","1281146d.5e8844","4a46ce9f.fc16b8","cce05db3.ac082"]]},{"id":"e15c2f98.5596e8","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/tempIn","topic":"Arqiva/Sandale/Antenna2/tempIn","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":1140,"wires":[]},{"id":"9b5b641.525df98","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1660,"wires":[["4c360e12.3a4ac8"]]},{"id":"4c360e12.3a4ac8","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1660,"wires":[]},{"id":"24ef8093.35f958","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/tempIn","topic":"Arqiva/Sandale/Antenna2/tempIn","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":670,"y":1660,"wires":[["9b5b641.525df98"]]},{"id":"e311e03a.e1768","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna2.tempIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1140,"wires":[["e15c2f98.5596e8"]]},{"id":"71857234.c21efc","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna2.tempOut;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1200,"wires":[["20a05012.0c3938"]]},{"id":"6f8c0e9e.2def7","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna2.powerLevel;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1260,"wires":[["dc5a9337.92c3c"]]},{"id":"e1451557.d59a28","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna2.flowRate;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1320,"wires":[["c1266f55.78766"]]},{"id":"20a05012.0c3938","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/tempOut","topic":"Arqiva/Sandale/Antenna2/tempOut","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":1200,"wires":[]},{"id":"dc5a9337.92c3c","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/powerLevel","topic":"Arqiva/Sandale/Antenna2/powerLevel","qos":"2","retain":"","broker":"72c39b90.91b164","x":890,"y":1260,"wires":[]},{"id":"c1266f55.78766","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/flowRate","topic":"Arqiva/Sandale/Antenna2/flowRate","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":1320,"wires":[]},{"id":"46d543bc.3cef7c","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna2.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1380,"wires":[["3b1bd7c2.f3be98"]]},{"id":"3b1bd7c2.f3be98","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/latitude","topic":"Arqiva/Sandale/Antenna2/latitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":1380,"wires":[]},{"id":"1281146d.5e8844","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna2.longitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1440,"wires":[["ba4f9594.d9b358"]]},{"id":"ba4f9594.d9b358","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/longitude","topic":"Arqiva/Sandale/Antenna2/longitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":1440,"wires":[]},{"id":"e0b748ba.265","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1720,"wires":[["59ab93f0.cc74ac"]]},{"id":"59ab93f0.cc74ac","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1720,"wires":[]},{"id":"d9feb0c6.ce8248","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/tempOut","topic":"Arqiva/Sandale/Antenna2/tempOut","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":680,"y":1720,"wires":[["e0b748ba.265"]]},{"id":"74b5b724.c70ad","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1780,"wires":[["3e1b8c59.df8f8c"]]},{"id":"3e1b8c59.df8f8c","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1780,"wires":[]},{"id":"3c81c31d.d9a9d4","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/powerLevel","topic":"Arqiva/Sandale/Antenna2/powerLevel","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":690,"y":1780,"wires":[["74b5b724.c70ad"]]},{"id":"291d145e.21e514","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1840,"wires":[["9bf6dc31.85453"]]},{"id":"9bf6dc31.85453","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1840,"wires":[]},{"id":"c458168e.ce11d","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/flowRate","topic":"Arqiva/Sandale/Antenna2/flowRate","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":680,"y":1840,"wires":[["291d145e.21e514"]]},{"id":"1bc1e0a.107ae9f","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1900,"wires":[["f630e84e.3f93d"]]},{"id":"f630e84e.3f93d","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1900,"wires":[]},{"id":"e6e54a14.48b3d","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/latitude","topic":"Arqiva/Sandale/Antenna2/latitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":670,"y":1900,"wires":[["1bc1e0a.107ae9f"]]},{"id":"de77962a.54cb9","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1960,"wires":[["ee74ef41.422a4"]]},{"id":"ee74ef41.422a4","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":1960,"wires":[]},{"id":"9a5e234e.f3f7c","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/longitude","topic":"Arqiva/Sandale/Antenna2/longitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":680,"y":1960,"wires":[["de77962a.54cb9"]]},{"id":"4a46ce9f.fc16b8","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna2.name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1500,"wires":[["c782bff7.d71758"]]},{"id":"c782bff7.d71758","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/name","topic":"Arqiva/Sandale/Antenna2/name","qos":"2","retain":"","broker":"72c39b90.91b164","x":870,"y":1500,"wires":[]},{"id":"cce05db3.ac082","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Sandale.Antenna2.antenna;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1560,"wires":[["11c2f82.589eb08"]]},{"id":"11c2f82.589eb08","type":"mqtt out","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/antenna","topic":"Arqiva/Sandale/Antenna2/antenna","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":1560,"wires":[]},{"id":"582173f8.ba8144","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":2020,"wires":[["17de19e8.3a7766"]]},{"id":"17de19e8.3a7766","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":2020,"wires":[]},{"id":"f4d66f50.b09f8","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/name","topic":"Arqiva/Sandale/Antenna2/name","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":670,"y":2020,"wires":[["582173f8.ba8144"]]},{"id":"d10cb3b4.a34248","type":"function","z":"c17945f8.d0de6","name":"Parse JSON","func":"p=msg.payload;\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":2080,"wires":[["d72618d2.0fe0a8"]]},{"id":"d72618d2.0fe0a8","type":"debug","z":"c17945f8.d0de6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":2080,"wires":[]},{"id":"202cd0e9.54641","type":"mqtt in","z":"c17945f8.d0de6","name":"Arqiva/Sandale/Antenna2/antenna","topic":"Arqiva/Sandale/Antenna2/antenna","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":680,"y":2080,"wires":[["d10cb3b4.a34248"]]},{"id":"a0f95d5d.ad95e8","type":"inject","z":"d0fd817c.9e233","name":"Start","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":150,"y":40,"wires":[["37d3a36d.b9ceb4","c0ca6682.5f8398"]]},{"id":"37d3a36d.b9ceb4","type":"function","z":"d0fd817c.9e233","name":"Create JSON","func":"tempIn = Math.floor(Math.random() * 81) + 20; \ntempOut = tempIn + (Math.floor(Math.random() * 20));\npowerLevel = 100 + (Math.floor(Math.random() * 20) - 10);\nflowRate = 25 + (Math.floor(Math.random() * 20) - 10);\nlatitude = 53.53887692027114;\nlongitude = -1.8833231068889196;\nname = \"Black_Hill\";\nantenna = \"Antenna 1\";\n\nvar data={\n    \"Arqiva\": {\n        \"Black_Hill\":{\n            \"Antenna1\":{\n                \"tempIn\": tempIn,\n                \"tempOut\": tempOut,\n                \"powerLevel\": powerLevel,\n                \"flowRate\": flowRate,\n                \"latitude\": latitude,\n                \"longitude\": longitude,\n                \"name\": name,\n                \"antenna\": antenna,\n            }\n        }\n    }\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":40,"wires":[["9d35c000.2d069","8acfa17f.750348","ed2a203c.cf0bd","2245f458.31a864","5194480.ae7c6b8","ef9d4ec6.a887a","160b813c.d289df","7bc0c0e4.c7b0f8"]]},{"id":"6421936a.3ffb5c","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/tempIn","topic":"Arqiva/Black_Hill/Antenna1/tempIn","qos":"2","retain":"","broker":"72c39b90.91b164","x":860,"y":40,"wires":[]},{"id":"b2abb0fd.6facc8","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":560,"wires":[["389aca28.02e0be"]]},{"id":"389aca28.02e0be","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":560,"wires":[]},{"id":"2fbfda2.c2159a6","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/tempIn","topic":"Arqiva/Black_Hill/Antenna1/tempIn","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":660,"y":560,"wires":[["b2abb0fd.6facc8"]]},{"id":"9d35c000.2d069","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna1.tempIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":40,"wires":[["6421936a.3ffb5c"]]},{"id":"8acfa17f.750348","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna1.tempOut;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":100,"wires":[["571ce087.1c7878"]]},{"id":"ed2a203c.cf0bd","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna1.powerLevel;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":160,"wires":[["4acaf5b6.26891c"]]},{"id":"2245f458.31a864","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna1.flowRate;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":220,"wires":[["3860b5d1.6e9c4a"]]},{"id":"571ce087.1c7878","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/tempOut","topic":"Arqiva/Black_Hill/Antenna1/tempOut","qos":"2","retain":"","broker":"72c39b90.91b164","x":870,"y":100,"wires":[]},{"id":"4acaf5b6.26891c","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/powerLevel","topic":"Arqiva/Black_Hill/Antenna1/powerLevel","qos":"2","retain":"","broker":"72c39b90.91b164","x":880,"y":160,"wires":[]},{"id":"3860b5d1.6e9c4a","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/flowRate","topic":"Arqiva/Black_Hill/Antenna1/flowRate","qos":"2","retain":"","broker":"72c39b90.91b164","x":870,"y":220,"wires":[]},{"id":"5194480.ae7c6b8","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna1.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":280,"wires":[["b6954e90.b3fd98"]]},{"id":"b6954e90.b3fd98","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/latitude","topic":"Arqiva/Black_Hill/Antenna1/latitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":860,"y":280,"wires":[]},{"id":"ef9d4ec6.a887a","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna1.longitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":340,"wires":[["f1f7d1a2.a5c828"]]},{"id":"f1f7d1a2.a5c828","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/longitude","topic":"Arqiva/Black_Hill/Antenna1/longitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":870,"y":340,"wires":[]},{"id":"96b8c69d.80ccb","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":620,"wires":[["547e288e.5de788"]]},{"id":"547e288e.5de788","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":620,"wires":[]},{"id":"6ac07732.eafc38","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/tempOut","topic":"Arqiva/Black_Hill/Antenna1/tempOut","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":660,"y":620,"wires":[["96b8c69d.80ccb"]]},{"id":"d2779d4e.914a3","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":680,"wires":[["f2197602.4b1c3"]]},{"id":"f2197602.4b1c3","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":680,"wires":[]},{"id":"78541c3c.ab104c","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/powerLevel","topic":"Arqiva/Black_Hill/Antenna1/powerLevel","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":670,"y":680,"wires":[["d2779d4e.914a3"]]},{"id":"822cb596.5de3f8","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":740,"wires":[["eb15220b.5bdde"]]},{"id":"eb15220b.5bdde","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":740,"wires":[]},{"id":"b44723e5.9707a8","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/flowRate","topic":"Arqiva/Black_Hill/Antenna1/flowRate","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":660,"y":740,"wires":[["822cb596.5de3f8"]]},{"id":"d1c2746e.dcae1","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":800,"wires":[["c8fa1472.c47948"]]},{"id":"c8fa1472.c47948","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":800,"wires":[]},{"id":"efda58e3.caa2","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/latitude","topic":"Arqiva/Black_Hill/Antenna1/latitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":660,"y":800,"wires":[["d1c2746e.dcae1"]]},{"id":"517fcfad.342968","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":860,"wires":[["92279585.4e5198"]]},{"id":"92279585.4e5198","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":860,"wires":[]},{"id":"69be7aff.1e1fc4","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/longitude","topic":"Arqiva/Black_Hill/Antenna1/longitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":670,"y":860,"wires":[["517fcfad.342968"]]},{"id":"160b813c.d289df","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna1.name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":400,"wires":[["2faa28ea.8019c8"]]},{"id":"2faa28ea.8019c8","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/name","topic":"Arqiva/Black_Hill/Antenna1/name","qos":"2","retain":"","broker":"72c39b90.91b164","x":860,"y":400,"wires":[]},{"id":"7bc0c0e4.c7b0f8","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna1.antenna;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":460,"wires":[["e3dbe6d4.08fa7"]]},{"id":"e3dbe6d4.08fa7","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/antenna","topic":"Arqiva/Black_Hill/Antenna1/antenna","qos":"2","retain":"","broker":"72c39b90.91b164","x":870,"y":460,"wires":[]},{"id":"2d4fd5b5.f83232","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":920,"wires":[["621ed59c.0201dc"]]},{"id":"621ed59c.0201dc","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":920,"wires":[]},{"id":"4b1f56a8.354eb8","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/name","topic":"Arqiva/Black_Hill/Antenna1/name","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":650,"y":920,"wires":[["2d4fd5b5.f83232"]]},{"id":"356168be.389988","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=msg.payload;\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":980,"wires":[["fed57fb6.472f6"]]},{"id":"fed57fb6.472f6","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":980,"wires":[]},{"id":"6b63f64e.82e0a8","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna1/antenna","topic":"Arqiva/Black_Hill/Antenna1/antenna","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":660,"y":980,"wires":[["356168be.389988"]]},{"id":"c0ca6682.5f8398","type":"function","z":"d0fd817c.9e233","name":"Create JSON","func":"tempIn = Math.floor(Math.random() * 81) + 20; \ntempOut = tempIn + (Math.floor(Math.random() * 20));\npowerLevel = 100 + (Math.floor(Math.random() * 20) - 10);\nflowRate = 25 + (Math.floor(Math.random() * 20) - 10);\nlatitude = 53.53887692027114;\nlongitude = -1.8833231068889196;\nname = \"Black_Hill\";\nantenna = \"Antenna 2\";\n\nvar data={\n    \"Arqiva\": {\n        \"Black_Hill\":{\n            \"Antenna2\":{\n                \"tempIn\": tempIn,\n                \"tempOut\": tempOut,\n                \"powerLevel\": powerLevel,\n                \"flowRate\": flowRate,\n                \"latitude\": latitude,\n                \"longitude\": longitude,\n                \"name\": name,\n                \"antenna\": antenna,\n            }\n        }\n    }\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1080,"wires":[["998102f8.177f78","fcbf271d.1245","df38c3e8.2e623","9127eaad.f30028","c72cf83e.9d8ec","fad64dec.d8584","82f05a3b.1902d","ba19b3b.dcbe7d"]]},{"id":"2e89245e.c20e44","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/tempIn","topic":"Arqiva/Black_Hill/Antenna2/tempIn","qos":"2","retain":"","broker":"72c39b90.91b164","x":850,"y":1080,"wires":[]},{"id":"b1100a61.ea1178","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1600,"wires":[["b647ddb2.d14238"]]},{"id":"b647ddb2.d14238","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1600,"wires":[]},{"id":"3363b847.dbfbe","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/tempIn","topic":"Arqiva/Black_Hill/Antenna2/tempIn","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":640,"y":1600,"wires":[["b1100a61.ea1178"]]},{"id":"998102f8.177f78","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna2.tempIn;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1080,"wires":[["2e89245e.c20e44"]]},{"id":"fcbf271d.1245","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna2.tempOut;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1140,"wires":[["9fb5ec1a.a18088"]]},{"id":"df38c3e8.2e623","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna2.powerLevel;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1200,"wires":[["769c9cf2.f955c4"]]},{"id":"9127eaad.f30028","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna2.flowRate;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1260,"wires":[["c85cf7d1.35339"]]},{"id":"9fb5ec1a.a18088","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/tempOut","topic":"Arqiva/Black_Hill/Antenna2/tempOut","qos":"2","retain":"","broker":"72c39b90.91b164","x":860,"y":1140,"wires":[]},{"id":"769c9cf2.f955c4","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/powerLevel","topic":"Arqiva/Black_Hill/Antenna2/powerLevel","qos":"2","retain":"","broker":"72c39b90.91b164","x":870,"y":1200,"wires":[]},{"id":"c85cf7d1.35339","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/flowRate","topic":"Arqiva/Black_Hill/Antenna2/flowRate","qos":"2","retain":"","broker":"72c39b90.91b164","x":860,"y":1260,"wires":[]},{"id":"c72cf83e.9d8ec","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna2.latitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1320,"wires":[["a5e14fec.6003"]]},{"id":"a5e14fec.6003","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/latitude","topic":"Arqiva/Black_Hill/Antenna2/latitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":850,"y":1320,"wires":[]},{"id":"fad64dec.d8584","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna2.longitude;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1380,"wires":[["5c2e9985.7bd61"]]},{"id":"5c2e9985.7bd61","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/longitude","topic":"Arqiva/Black_Hill/Antenna2/longitude","qos":"2","retain":"","broker":"72c39b90.91b164","x":860,"y":1380,"wires":[]},{"id":"6b46f03d.f4872","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1660,"wires":[["ca5d6bcb.0ccfc8"]]},{"id":"ca5d6bcb.0ccfc8","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1660,"wires":[]},{"id":"bf6a7c53.a837c","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/tempOut","topic":"Arqiva/Black_Hill/Antenna2/tempOut","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":640,"y":1660,"wires":[["6b46f03d.f4872"]]},{"id":"efdfa94.a890f58","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1720,"wires":[["e63eccfd.73c6a8"]]},{"id":"e63eccfd.73c6a8","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1720,"wires":[]},{"id":"a26c0c0b.d7d1f8","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/powerLevel","topic":"Arqiva/Black_Hill/Antenna2/powerLevel","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":650,"y":1720,"wires":[["efdfa94.a890f58"]]},{"id":"3c2b3292.982a46","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1780,"wires":[["a46ea498.c6eca"]]},{"id":"a46ea498.c6eca","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1780,"wires":[]},{"id":"e3f6d38d.6246f","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/flowRate","topic":"Arqiva/Black_Hill/Antenna2/flowRate","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":640,"y":1780,"wires":[["3c2b3292.982a46"]]},{"id":"bad3ce29.b94268","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1840,"wires":[["9b07336d.ef767"]]},{"id":"9b07336d.ef767","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1840,"wires":[]},{"id":"f4783d4a.c447","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/latitude","topic":"Arqiva/Black_Hill/Antenna2/latitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":640,"y":1840,"wires":[["bad3ce29.b94268"]]},{"id":"22a99311.607814","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1900,"wires":[["8751667f.6742a"]]},{"id":"8751667f.6742a","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1900,"wires":[]},{"id":"cdc248ef.a27668","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/longitude","topic":"Arqiva/Black_Hill/Antenna2/longitude","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":650,"y":1900,"wires":[["22a99311.607814"]]},{"id":"82f05a3b.1902d","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna2.name;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1440,"wires":[["6e77186f.84ab48"]]},{"id":"6e77186f.84ab48","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/name","topic":"Arqiva/Black_Hill/Antenna2/name","qos":"2","retain":"","broker":"72c39b90.91b164","x":850,"y":1440,"wires":[]},{"id":"ba19b3b.dcbe7d","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva.Black_Hill.Antenna2.antenna;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1500,"wires":[["54edd255.4581d4"]]},{"id":"54edd255.4581d4","type":"mqtt out","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/antenna","topic":"Arqiva/Black_Hill/Antenna2/antenna","qos":"2","retain":"","broker":"72c39b90.91b164","x":860,"y":1500,"wires":[]},{"id":"f4074812.e37bd8","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=(msg.payload);\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1960,"wires":[["58a4600e.affee"]]},{"id":"58a4600e.affee","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1960,"wires":[]},{"id":"6c9be964.49512","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/name","topic":"Arqiva/Black_Hill/Antenna2/name","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":630,"y":1960,"wires":[["f4074812.e37bd8"]]},{"id":"e95fa700.69bd88","type":"function","z":"d0fd817c.9e233","name":"Parse JSON","func":"p=msg.payload;\nmsg.payload=p;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":2020,"wires":[["c186622f.2293c"]]},{"id":"c186622f.2293c","type":"debug","z":"d0fd817c.9e233","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":2020,"wires":[]},{"id":"57cfebcb.9db284","type":"mqtt in","z":"d0fd817c.9e233","name":"Arqiva/Black_Hill/Antenna2/antenna","topic":"Arqiva/Black_Hill/Antenna2/antenna","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":640,"y":2020,"wires":[["e95fa700.69bd88"]]},{"id":"6de0f0d8.923568","type":"inject","z":"c357705.f7e209","name":"Start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":280,"wires":[["7ea69fbc.6a7e88"]]},{"id":"7ea69fbc.6a7e88","type":"function","z":"c357705.f7e209","name":"","func":"t0 = 0;\nv0 = 0;\np1 = 0;\np2 = 0;\np3 = 0;\np4 = 0;\nq1 = 0;\nq2 = 0;\nq3 = 0;\nvoltage = 1.3;\ntemperature = 0;\n\nif(voltage >= -0.226 && voltage <= 1.469){\n    t0 = 1.3054315E+02;\n    v0 = 8.8333090E-01;\n    p1 = 1.2557377E+02;\n    p2 = 1.3900275E+02;\n    p3 = 3.3035469E+01;\n    p4 = -8.5195924E-01;\n    q1 = 1.2232896E+00;\n    q2 = 3.5603023E-01;\n    q3 = 0.0;\n}else if(voltage >= 1.470 && voltage <= 7.461){\n    t0 = 5.4188181E+02;\n    v0 = 4.9312886E+00;\n    p1 = 9.0208190E+01;\n    p2 = 6.1762254E+00;\n    p3 = -1.2279323E+00;\n    p4 = 1.4873153E-02;\n    q1 = 8.7670455E-02;\n    q2 = -1.2906694E-02;\n    q3 = 0.0;\n}else if(voltage >= 7.462 && voltage <= 14.277){\n    t0 = 1.0382132E+03;\n    v0 = 1.1014763E+01;\n    p1 = 7.4669343E+01;\n    p2 = 3.4090711E+00;\n    p3 = -1.4511205E-01;\n    p4 = 6.3077387E-03;\n    q1 = 5.6880253E-02;\n    q2 = -2.0512736E-03;\n    q3 = 0.0;\n}else if(voltage >= 14.278 && voltage <= 21.101){\n    t0 = 1.5676133E+03;\n    v0 = 1.8397910E+01;\n    p1 = 7.1646299E+01;\n    p2 = -1.0866763E+00;\n    p3 = -2.0968371E+00;\n    p4 = -7.6741168E-01;\n    q1 = -1.9712341E-02;\n    q2 = -2.9903595E-02;\n    q3 = -1.0766878E-02;\n}\n\ntop = (voltage - v0)*(p1 + (voltage - v0)*(p2 + (voltage - v0)*(p3 + (p4 * (voltage - v0)))));\nbottom = 1 + (voltage - v0) * (q1 + (voltage - v0) * (q2 + (q3 * (voltage - v0))));\n\ntemperature = t0 + top / bottom;\n\nmsg.payload = temperature;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["bde2779e.3b065"]]},{"id":"bde2779e.3b065","type":"debug","z":"c357705.f7e209","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":280,"wires":[]}]