prototype/Raspberry Pi Flows/end_to_end_testing_flow.json
[{"id":"316ffe82.dad9e2","type":"tab","label":"temp1","disabled":false,"info":""},{"id":"d3b609ad.21ad18","type":"inject","z":"316ffe82.dad9e2","name":"Start","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":190,"y":220,"wires":[["2a5d4f91.df367"]]},{"id":"2a5d4f91.df367","type":"function","z":"316ffe82.dad9e2","name":"Create JSON","func":"tempIn1 = Math.floor(Math.random() * 81) + 20; \ntempOut1 = tempIn1 + (Math.floor(Math.random() * 20));\ntempIn2 = Math.floor(Math.random() * 81) + 20;\ntempOut2 = tempIn2 + (Math.floor(Math.random() * 20));\ntempIn3 = Math.floor(Math.random() * 81) + 20; \ntempOut3 = tempIn3 + (Math.floor(Math.random() * 20));\npowerLevel1 = 100 + (Math.floor(Math.random() * 20) - 10);\npowerLevel2 = 100 + (Math.floor(Math.random() * 20) - 10);\npowerLevel3 = 100 + (Math.floor(Math.random() * 20) - 10);\nflowRate1 = 25 + (Math.floor(Math.random() * 20) - 10);\nflowRate2 = 25 + (Math.floor(Math.random() * 20) - 10);\nflowRate3 = 25 + (Math.floor(Math.random() * 20) - 10);\n\nvar data={\n    \"Arqiva\": {\n        \"Site\":{\n            \"Antenna1\":{\n                \"tempIn\": tempIn1,\n                \"tempOut\": tempOut1,\n                \"power_level\": powerLevel1,\n                \"flow_rate\": flowRate1,\n            },\n            \"Antenna2\":{\n                \"tempIn\": tempIn2,\n                \"tempOut\": tempOut2,\n                \"power_level\": powerLevel2,\n                \"flow_rate\": flowRate2,\n            },\n            \"Antenna3\":{\n                \"tempIn\": tempIn3,\n                \"tempOut\": tempOut3,\n                \"power_level\": powerLevel3,\n                \"flow_rate\": flowRate3,             \n            }\n        }\n    }\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["4a01bfb.91a254","f64bedb1.77115"]]},{"id":"4a01bfb.91a254","type":"mqtt out","z":"316ffe82.dad9e2","name":"test","topic":"test","qos":"2","retain":"","broker":"72c39b90.91b164","x":570,"y":220,"wires":[]},{"id":"f64bedb1.77115","type":"debug","z":"316ffe82.dad9e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":160,"wires":[]},{"id":"136b3dc3.edfa42","type":"function","z":"316ffe82.dad9e2","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["a479e083.0e0ae"]]},{"id":"a479e083.0e0ae","type":"debug","z":"316ffe82.dad9e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":300,"wires":[]},{"id":"a06ef22f.587aa","type":"mqtt in","z":"316ffe82.dad9e2","name":"test","topic":"test","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":190,"y":300,"wires":[["136b3dc3.edfa42"]]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]