prototype/Raspberry Pi Flows/end_to_end_testing_flow.json
[{"id":"1263a2b5.f6c5ad","type":"tab","label":"temp1","disabled":false,"info":""},{"id":"87ab102a.cbdf8","type":"inject","z":"1263a2b5.f6c5ad","name":"Start","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":190,"y":220,"wires":[["4cf7be2.cd29c4"]]},{"id":"4cf7be2.cd29c4","type":"function","z":"1263a2b5.f6c5ad","name":"Create JSON","func":"var data={\n    \"Arqiva\": {\n        \"Site\":{\n            \"Antenna1\":{\n                \"tempIn\": 50,\n                \"tempOut\": 55,\n                \"power_level\": 100,\n                \"flow_rate\": 20,\n            },\n            \"Antenna2\":{\n                \"tempIn\": 55,\n                \"tempOut\": 60,\n                \"power_level\": 105,\n                \"flow_rate\": 25,\n            },\n            \"Antenna3\":{\n                \"tempIn\": 60,\n                \"tempOut\": 65,\n                \"power_level\": 110,\n                \"flow_rate\": 30,             \n            }\n        }\n    }\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["e08722c7.e58a5","1e0775f5.80b61a"]]},{"id":"e08722c7.e58a5","type":"mqtt out","z":"1263a2b5.f6c5ad","name":"test","topic":"test","qos":"2","retain":"","broker":"72c39b90.91b164","x":570,"y":220,"wires":[]},{"id":"1e0775f5.80b61a","type":"debug","z":"1263a2b5.f6c5ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":160,"wires":[]},{"id":"c05d6ed9.64c16","type":"function","z":"1263a2b5.f6c5ad","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.Arqiva;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["ee128630.ad4a38"]]},{"id":"ee128630.ad4a38","type":"debug","z":"1263a2b5.f6c5ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":300,"wires":[]},{"id":"89ed334f.bbac4","type":"mqtt in","z":"1263a2b5.f6c5ad","name":"test","topic":"test","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":190,"y":300,"wires":[["c05d6ed9.64c16"]]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]