prototype/Raspberry Pi Flows/flow_rate.json
[{"id":"5d38861.2ff1278","type":"tab","label":"flow_rate","disabled":false,"info":""},{"id":"a4e5cfac.f4ec2","type":"inject","z":"5d38861.2ff1278","name":"","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":140,"wires":[["64697b8b.5a7064"]]},{"id":"64697b8b.5a7064","type":"function","z":"5d38861.2ff1278","name":"","func":"rand = Math.floor((Math.random() * 2) + 1);\n\nif(rand == 1){\n    msg.payload = 3;\n} else{\n    msg.payload = 5;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["6b256157.e844f","62f570dc.0fe6"]]},{"id":"6b256157.e844f","type":"debug","z":"5d38861.2ff1278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":140,"wires":[]},{"id":"62f570dc.0fe6","type":"mqtt out","z":"5d38861.2ff1278","name":"flow_rate","topic":"flow","qos":"","retain":"","broker":"72c39b90.91b164","x":530,"y":180,"wires":[]},{"id":"2c6635.b0d3e9cc","type":"mqtt in","z":"5d38861.2ff1278","name":"","topic":"flow","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":150,"y":320,"wires":[["2a056644.83425a"]]},{"id":"2a056644.83425a","type":"debug","z":"5d38861.2ff1278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":320,"wires":[]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]