prototype/Raspberry Pi Flows/flowsUI.json
[{"id":"a48e64b7.5e368","type":"tab","label":"Pi1","disabled":false,"info":""},{"id":"194f41c.42ba93e","type":"ui_numeric","z":"a48e64b7.5e368","name":"","label":"Input","tooltip":"","group":"e600b940.4cb0b","order":1,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","topicType":"str","format":"{{value}}","min":"0.003","max":"0.004","step":"0.0001","x":230,"y":160,"wires":[["df78d393.8b0bf8"]]},{"id":"df78d393.8b0bf8","type":"function","z":"a48e64b7.5e368","name":"","func":"var a0 = msg.payload;\nglobal.set(\"a0\",a0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":160,"wires":[[]]},{"id":"c7c4f395.d299e8","type":"ui_button","z":"a48e64b7.5e368","name":"","group":"e600b940.4cb0b","order":2,"width":0,"height":0,"passthru":false,"label":"Set Coefficient","tooltip":"","color":"","bgcolor":"","icon":"","payload":"a0","payloadType":"global","topic":"topic","topicType":"msg","x":260,"y":100,"wires":[["73cab83e.f4b1a"]]},{"id":"73cab83e.f4b1a","type":"debug","z":"a48e64b7.5e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"be5293ec.9bf378","type":"function","z":"a48e64b7.5e368","name":"Set Global Variables","func":"// var coefficient = 0.003;\nvar sitename = \"Wrotham\";\nvar antenna = \"antenna1\";\nvar Rt = 0;\nvar r0 = 100;\nvar a0 = 0.003927;\nvar t = 20;\nvar voltage = 240;\n\n// global.set(\"coefficient\",coefficient);\nglobal.set(\"sitename\", sitename);\nglobal.set(\"antenna\", antenna);\nglobal.set(\"Rt\", Rt);\nglobal.set(\"r0\", r0);\nglobal.set(\"a0\", a0);\nglobal.set(\"t\", t);\nglobal.set(\"voltage\", voltage);\n\nmsg.payload = \n{\"sitename\": global.get('sitename'), \n\"antenna\": global.get('antenna'),\n// \"coefficient\": global.get('coefficient'),\n\"Rt\": global.get(\"Rt\"),\n\"r0\": global.get(\"r0\"),\n\"a0\": global.get(\"a0\"),\n\"t\": global.get(\"t\"),\n\"voltage\": global.get(\"voltage\"),\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":40,"wires":[["cc4f23c9.db25e"]]},{"id":"106f0b51.7c3195","type":"mqtt out","z":"a48e64b7.5e368","name":"MQTT out","topic":"","qos":"2","retain":"","broker":"72c39b90.91b164","x":600,"y":220,"wires":[]},{"id":"f3a3794f.646d1","type":"inject","z":"a48e64b7.5e368","name":"Start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":280,"wires":[["1b88a0ba.d1d427"]]},{"id":"1b88a0ba.d1d427","type":"function","z":"a48e64b7.5e368","name":"Site","func":"msg.payload = \n{\n\"site\" : global.sitename,\n\"antennas\" : global.antenna,\n\"latitude\" : 51.31051736967821,\n\"longitude\" : 0.29849581684507465\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":280,"wires":[["9c2aa7d2.9130f"]]},{"id":"9c2aa7d2.9130f","type":"function","z":"a48e64b7.5e368","name":"Create JSON","func":"site = msg.payload;\nsitename = global.get(\"sitename\");\nantenna = global.get(\"antenna\");\nr0 = global.get('r0');\na0 = global.get('a0');\nt = global.get('t');\nresult = r0 * (1 + (a0 * t));\nglobal.set(\"Rt\", result);\nvoltage = global.get('voltage');\nRt = global.get('Rt');\nvar power = parseFloat(((voltage * voltage) / Rt).toFixed(3));\nglobal.set(\"power\", power);\n\nvar data = {\n    \"temperature\": t,\n    \"powerLevel\": power,\n    \"voltage\": voltage,\n    // \"flowRate\": flowRate,\n    \"latitude\": site[\"latitude\"],\n    \"longitude\": site[\"longitude\"],\n    \"coefficient\": global.get(\"a0\")\n};\n    \nmsg.payload = data;\nmsg.topic = \"Arqiva/\" + sitename + \"/\" + antenna;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":280,"wires":[["106f0b51.7c3195","d773e354.c2b12"]]},{"id":"d773e354.c2b12","type":"debug","z":"a48e64b7.5e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"78eb797f.b07448","type":"inject","z":"a48e64b7.5e368","name":"Init","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":40,"wires":[["be5293ec.9bf378"]]},{"id":"cc4f23c9.db25e","type":"debug","z":"a48e64b7.5e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":40,"wires":[]},{"id":"9a446034.014558","type":"ui_text_input","z":"a48e64b7.5e368","name":"","label":"","tooltip":"","group":"612807a1.a38ee","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":80,"y":360,"wires":[["22a5ff4.a8e478"]]},{"id":"22a5ff4.a8e478","type":"function","z":"a48e64b7.5e368","name":"","func":"msg.payload\n\nvar sitename = msg.payload;\nglobal.set(\"sitename\",sitename);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":360,"wires":[[]]},{"id":"21fcc67a.24d9ca","type":"ui_button","z":"a48e64b7.5e368","name":"","group":"612807a1.a38ee","order":2,"width":0,"height":0,"passthru":false,"label":"Set Site Name","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sitename","payloadType":"global","topic":"topic","topicType":"msg","x":100,"y":420,"wires":[["51b1bf6.508ef4"]]},{"id":"51b1bf6.508ef4","type":"debug","z":"a48e64b7.5e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":420,"wires":[]},{"id":"ed0a5ab9.c0ad78","type":"ui_text_input","z":"a48e64b7.5e368","name":"","label":"","tooltip":"","group":"b55d10fc.095e","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":80,"y":520,"wires":[["1ea03195.1cb326"]]},{"id":"1ea03195.1cb326","type":"function","z":"a48e64b7.5e368","name":"","func":"msg.payload\n\nvar antenna = msg.payload;\nglobal.set(\"antenna\",antenna);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":520,"wires":[[]]},{"id":"8fcf1686.4b6db","type":"ui_button","z":"a48e64b7.5e368","name":"","group":"b55d10fc.095e","order":2,"width":0,"height":0,"passthru":false,"label":"Set Antenna Name","tooltip":"","color":"","bgcolor":"","icon":"","payload":"antenna","payloadType":"global","topic":"topic","topicType":"msg","x":110,"y":580,"wires":[["88297ffe.afe32"]]},{"id":"88297ffe.afe32","type":"debug","z":"a48e64b7.5e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":580,"wires":[]},{"id":"998f2f0b.796d18","type":"function","z":"a48e64b7.5e368","name":"","func":"var t = msg.payload;\n\nglobal.set(\"t\", t);\n\nmsg.payload = global.get(\"t\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":700,"wires":[["c7f6a1ff.c3874"]]},{"id":"d7e06da3.1de978","type":"ui_gauge","z":"a48e64b7.5e368","name":"","group":"7bbfa4dd.50649c","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"Degrees °C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":240,"y":640,"wires":[]},{"id":"b5c8caa3.c450c","type":"ui_slider","z":"a48e64b7.5e368","name":"","label":"slider","tooltip":"","group":"7bbfa4dd.50649c","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":0,"max":"100","step":1,"x":80,"y":640,"wires":[["d7e06da3.1de978","998f2f0b.796d18"]]},{"id":"c7f6a1ff.c3874","type":"debug","z":"a48e64b7.5e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":700,"wires":[]},{"id":"9746db86.7dcf8","type":"ui_numeric","z":"a48e64b7.5e368","name":"","label":"Input","tooltip":"","group":"40058e0f.67e6e8","order":1,"width":0,"height":0,"wrap":true,"passthru":false,"topic":"","topicType":"str","format":"{{value}}","min":"0","max":"1000","step":"1","x":90,"y":840,"wires":[["a8bb984.99f1168"]]},{"id":"a8bb984.99f1168","type":"function","z":"a48e64b7.5e368","name":"","func":"var voltage = msg.payload;\nglobal.set(\"voltage\",voltage);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":840,"wires":[[]]},{"id":"6e35d879.c184b8","type":"debug","z":"a48e64b7.5e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":780,"wires":[]},{"id":"cf8addb2.e6ac8","type":"ui_button","z":"a48e64b7.5e368","name":"","group":"40058e0f.67e6e8","order":2,"width":0,"height":0,"passthru":false,"label":"Set Voltage","tooltip":"","color":"","bgcolor":"","icon":"","payload":"voltage","payloadType":"global","topic":"","topicType":"str","x":110,"y":780,"wires":[["6e35d879.c184b8"]]},{"id":"53888e5b.7ea288","type":"ui_button","z":"a48e64b7.5e368","d":true,"name":"","group":"4f39df66.448418","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":980,"wires":[["fe57fa5b.df503"]]},{"id":"fe57fa5b.df503","type":"function","z":"a48e64b7.5e368","d":true,"name":"","func":"r0 = global.get('r0');\na0 = global.get('a0');\nt = global.get('t');\n\nresult = r0 * (1 + (a0 * t));\n\n// var step1 = a0 * t;\n// var step2 = step1 + 1;\n// msg.payload = step2 * r0;\nmsg.payload = result;\nglobal.set(\"Rt\", result);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":980,"wires":[["5f2b2dd6.290454","c8a2d358.7b1578"]]},{"id":"5f2b2dd6.290454","type":"debug","z":"a48e64b7.5e368","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":980,"wires":[]},{"id":"c8a2d358.7b1578","type":"ui_text","z":"a48e64b7.5e368","d":true,"group":"4f39df66.448418","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":450,"y":1060,"wires":[]},{"id":"f833cb83.91ec4","type":"ui_button","z":"a48e64b7.5e368","name":"","group":"a388283e.a0a478","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1160,"wires":[["e18a56e1.64e3c"]]},{"id":"e18a56e1.64e3c","type":"function","z":"a48e64b7.5e368","name":"","func":"r0 = global.get('r0');\na0 = global.get('a0');\nt = global.get('t');\n\nresult = r0 * (1 + (a0 * t));\n\nmsg.payload = result;\nglobal.set(\"Rt\", result);\n\nvoltage = global.get('voltage');\nRt = global.get('Rt');\n\nvar power = (voltage * voltage) / Rt;\nglobal.set(\"power\", power);\n\nmsg.payload = power.toFixed(3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1160,"wires":[["ae813664.e081d8","36bc0849.6b79b8"]]},{"id":"ae813664.e081d8","type":"debug","z":"a48e64b7.5e368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1160,"wires":[]},{"id":"36bc0849.6b79b8","type":"ui_text","z":"a48e64b7.5e368","group":"a388283e.a0a478","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":460,"y":1240,"wires":[]},{"id":"e600b940.4cb0b","type":"ui_group","name":"Set Coefficient","tab":"c9b208dd.336888","order":5,"disp":true,"width":"6","collapse":false},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"612807a1.a38ee","type":"ui_group","name":"Change Site Name","tab":"c9b208dd.336888","order":1,"disp":true,"width":"6","collapse":false},{"id":"b55d10fc.095e","type":"ui_group","name":"Change Antenna","tab":"c9b208dd.336888","order":1,"disp":true,"width":"6","collapse":false},{"id":"7bbfa4dd.50649c","type":"ui_group","name":"Target Temperature","tab":"c9b208dd.336888","order":4,"disp":true,"width":"6","collapse":false},{"id":"40058e0f.67e6e8","type":"ui_group","name":"Set Voltage (V)","tab":"c9b208dd.336888","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f39df66.448418","type":"ui_group","name":"Calculate Rt","tab":"c9b208dd.336888","order":6,"disp":true,"width":"6","collapse":false},{"id":"a388283e.a0a478","type":"ui_group","name":"Calculate Power (W)","tab":"c9b208dd.336888","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9b208dd.336888","type":"ui_tab","name":"Arqiva","icon":"dashboard","disabled":false,"hidden":false}]