prototype/Raspberry Pi Flows/jsonFlow.json
[{"id":"1263a2b5.f6c5ad","type":"tab","label":"temp1","disabled":false,"info":""},{"id":"893a85f7.121c08","type":"inject","z":"1263a2b5.f6c5ad","name":"Start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":290,"y":160,"wires":[["f9b3bc3b.a2714"]]},{"id":"f9b3bc3b.a2714","type":"function","z":"1263a2b5.f6c5ad","name":"Create JSON","func":"var data={\n    \"timestamp\": \"1st January 1970\",\n    \"volt1\": 240,\n    \"coef1a\": 2,\n    \"coef1b\": 3,\n    \"temp1\": {},\n    \"volt2\": 220,\n    \"coef2a\": 2,\n    \"coef2b\": 3,\n    \"temp2\": {},\n    \"flow\": {},\n    \"power\": {}\n};\n\nmsg.payload = JSON.stringify(data);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":160,"wires":[["3ea0c967.ed3116","1845c1f6.801c4e"]]},{"id":"9ef273e.8449d9","type":"function","z":"1263a2b5.f6c5ad","name":"Parse JSON","func":"p=JSON.parse(msg.payload);\nmsg.payload=p.volt1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":280,"wires":[["9059e858.727148"]]},{"id":"9059e858.727148","type":"debug","z":"1263a2b5.f6c5ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":280,"wires":[]},{"id":"3ea0c967.ed3116","type":"mqtt out","z":"1263a2b5.f6c5ad","name":"test","topic":"test","qos":"","retain":"","broker":"72c39b90.91b164","x":670,"y":160,"wires":[]},{"id":"939fdafd.9e1168","type":"mqtt in","z":"1263a2b5.f6c5ad","name":"test","topic":"test","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":270,"y":280,"wires":[["9ef273e.8449d9"]]},{"id":"1845c1f6.801c4e","type":"debug","z":"1263a2b5.f6c5ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]