prototype/Raspberry Pi Flows/temp1.json
[{"id":"1263a2b5.f6c5ad","type":"tab","label":"temp1","disabled":false,"info":""},{"id":"21cfc706.35b3d8","type":"inject","z":"1263a2b5.f6c5ad","name":"","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":120,"wires":[["f8beb78f.ad4f08"]]},{"id":"f8beb78f.ad4f08","type":"function","z":"1263a2b5.f6c5ad","name":"","func":"rand = Math.floor((Math.random() * 2) + 1);\n\nif(rand == 1){\n    msg.payload = 50;\n} else{\n    msg.payload = 70;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["aa3abf3f.64a8e","bb3fdec.f2ae12"]]},{"id":"aa3abf3f.64a8e","type":"debug","z":"1263a2b5.f6c5ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":120,"wires":[]},{"id":"bb3fdec.f2ae12","type":"mqtt out","z":"1263a2b5.f6c5ad","name":"temp1","topic":"temperature1","qos":"","retain":"","broker":"72c39b90.91b164","x":560,"y":160,"wires":[]},{"id":"66a81b6a.f67fd4","type":"mqtt in","z":"1263a2b5.f6c5ad","name":"","topic":"temp1","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":280,"y":320,"wires":[["4cc1edb7.283fb4"]]},{"id":"4cc1edb7.283fb4","type":"debug","z":"1263a2b5.f6c5ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":320,"wires":[]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]