prototype/Raspberry Pi Flows/temp2.json
[{"id":"6fc3068c.338848","type":"tab","label":"temp2","disabled":false,"info":""},{"id":"ffc488a3.ac7658","type":"inject","z":"6fc3068c.338848","name":"","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":80,"wires":[["ff473e28.0db41"]]},{"id":"ff473e28.0db41","type":"function","z":"6fc3068c.338848","name":"","func":"rand = Math.floor((Math.random() * 2) + 1);\n\nif(rand == 1){\n    msg.payload = 55;\n} else{\n    msg.payload = 75;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":80,"wires":[["4210cc85.e4e414","5cba37c4.7e7d68"]]},{"id":"4210cc85.e4e414","type":"debug","z":"6fc3068c.338848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":80,"wires":[]},{"id":"5cba37c4.7e7d68","type":"mqtt out","z":"6fc3068c.338848","name":"temp2","topic":"temperature2","qos":"","retain":"","broker":"72c39b90.91b164","x":520,"y":120,"wires":[]},{"id":"b5cd218c.59f4","type":"mqtt in","z":"6fc3068c.338848","name":"","topic":"temp2","qos":"2","datatype":"auto","broker":"72c39b90.91b164","x":150,"y":240,"wires":[["ac78eec1.2c1cc"]]},{"id":"ac78eec1.2c1cc","type":"debug","z":"6fc3068c.338848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":240,"wires":[]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]