transmission_strength_monitoring_system/raspberrypi_1/Remote_Site_Flows_Raspberry_Pi_1.json
[{"id":"d55d640c.7df008","type":"tab","label":"Sensor Configuration","disabled":false,"info":"This flow provides a user interface for configuring two thermistors and a flow monitor. From the UI, dummy resistance values can be set which are output periodically or manually to an MQTT broker."},{"id":"5dc4d9dc.41b928","type":"function","z":"d55d640c.7df008","name":"","func":"var a0 = msg.payload;\nglobal.set(\"a0\",a0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[[]]},{"id":"8400d819.ae4248","type":"function","z":"d55d640c.7df008","name":"Set Global Variables","func":"var sitename = \"\";\nvar transmitter = \"\";\nvar Rt = 0;\nvar r0 = 100;\nvar a0 = 0.003927;\nvar t = 20;\nvar voltage = 240;\nvar longitude = 0.0;\nvar latitude = 0.0;\n\n\n// global.set(\"coefficient\",coefficient);\nglobal.set(\"sitename\", sitename);\nglobal.set(\"transmitter\", transmitter);\nglobal.set(\"Rt\", Rt);\nglobal.set(\"r0\", r0);\nglobal.set(\"a0\", a0);\nglobal.set(\"a02\", a0);\nglobal.set(\"t\", t);\nglobal.set(\"voltage\", voltage);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"resistance1\", 100),\nglobal.set(\"resistance2\", 100),\nglobal.set(\"flow\", 40),\nglobal.set(\"sitecode\", \"\"),\n\n\nmsg.payload = \n{\"sitename\": global.get('sitename'), \n\"transmitter\": global.get('transmitter'),\n\"Rt\": global.get(\"Rt\"),\n\"r0\": global.get(\"r0\"),\n\"a0\": global.get(\"a0\"),\n\"t\": global.get(\"t\"),\n\"voltage\": global.get(\"voltage\"),\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":40,"wires":[[]]},{"id":"a36668f5.a0a578","type":"mqtt out","z":"d55d640c.7df008","name":"MQTT out","topic":"","qos":"2","retain":"","broker":"72c39b90.91b164","x":1260,"y":700,"wires":[]},{"id":"dcd6d7f7.841228","type":"inject","z":"d55d640c.7df008","name":"Start","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":850,"y":760,"wires":[["666a9034.4db72"]]},{"id":"666a9034.4db72","type":"function","z":"d55d640c.7df008","name":"Create JSON","func":"sitename = global.get(\"sitename\");\ntransmitter = global.get(\"transmitter\");\ntimestamp = new Date();\n\nvar data = {\n    \"tempIn\": global.get('temperatureIn'),\n    \"tempOut\": global.get('temperatureOut'),\n    \"powerLevel\": global.get(\"power\"),\n    \"flowRate\": global.get(\"flow\"),\n    \"latitude\": global.get(\"latitude\"),\n    \"longitude\": global.get(\"longitude\"),\n    \"resistanceIn\": global.get(\"resistance1\"),\n    \"resistanceOut\": global.get(\"resistance2\"),\n    \"coefficientIn\": global.get('a0'),\n    \"coefficientOut\": a02 = global.get('a02'),\n    \"sitecode\": global.get(\"sitecode\"),\n    \"timestamp\": timestamp\n};\n    \nmsg.payload = data;\nmsg.topic = \"Arqiva/\" + sitename + \"/\" + transmitter;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":760,"wires":[["bf7e8c0b.c5ae8","a36668f5.a0a578"]]},{"id":"bf7e8c0b.c5ae8","type":"debug","z":"d55d640c.7df008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":760,"wires":[]},{"id":"c68ac03f.76d68","type":"inject","z":"d55d640c.7df008","name":"Init","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["8400d819.ae4248","9f2256de.31b418"]]},{"id":"f4d0711a.53335","type":"ui_text_input","z":"d55d640c.7df008","name":"","label":"Site Name","tooltip":"","group":"52fef6e.8d7a888","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":90,"y":146,"wires":[["38189a15.4c4ba6","9f2256de.31b418"]]},{"id":"38189a15.4c4ba6","type":"function","z":"d55d640c.7df008","name":"","func":"msg.payload\n\nvar sitename = msg.payload;\nglobal.set(\"sitename\",sitename);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":147,"wires":[[]]},{"id":"ac2534c2.2f4e08","type":"ui_text_input","z":"d55d640c.7df008","name":"","label":"Transmitter Name","tooltip":"","group":"52fef6e.8d7a888","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["7e9471d5.d495f","9f2256de.31b418"]]},{"id":"7e9471d5.d495f","type":"function","z":"d55d640c.7df008","name":"","func":"msg.payload\n\nvar transmitter = msg.payload;\nglobal.set(\"transmitter\",transmitter);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[[]]},{"id":"d9045a17.91e828","type":"ui_text","z":"d55d640c.7df008","group":"7f7a38ac.093fc","order":2,"width":0,"height":0,"name":"","label":"Transmitter Name:","format":"{{msg.transmitter}}","layout":"row-spread","x":1010,"y":180,"wires":[]},{"id":"28ce1f1f.94002","type":"ui_text","z":"d55d640c.7df008","group":"7f7a38ac.093fc","order":1,"width":0,"height":0,"name":"","label":"Site Name:","format":"{{msg.sitename}}","layout":"row-spread","x":990,"y":140,"wires":[]},{"id":"9f2256de.31b418","type":"function","z":"d55d640c.7df008","name":"","func":"r0 = global.get('r0');\na0 = global.get('a0');\na02 = global.get('a02');\nt = global.get('t');\nrt = global.get(\"resistance1\");\nrt2 = global.get(\"resistance2\");\nflowRate = global.get(\"flow\");\npower = 0;\ntemperatureIn = 0;\ntemperatureOut = 0;\n\ntemperatureIn = (rt/(r0 * a0) - (1/a0));\ntemperatureOut = (rt2/(r0 * a02) - (1/a02));\nglobal.set(\"temperatureIn\", temperatureIn);\nglobal.set(\"temperatureOut\", temperatureOut);\n\npower = (temperatureOut - temperatureIn) * flowRate * 0.07;\n\nglobal.set(\"power\", power);\n\nmsg.tempIn = temperatureIn.toFixed(3),\nmsg.tempOut = temperatureOut.toFixed(3),\nmsg.voltage = global.get(\"voltage\"),\nmsg.sitename = global.get(\"sitename\"),\nmsg.transmitter = global.get(\"transmitter\"),\nmsg.coefficient = global.get(\"a0\"),\nmsg.coefficient2 = global.get(\"a02\"),\nmsg.longitude = global.get(\"longitude\"),\nmsg.latitude = global.get(\"latitude\"),\nmsg.resistance1 = global.get(\"resistance1\"),\nmsg.resistance2 = global.get(\"resistance2\"),\nmsg.flow = flowRate,\nmsg.power = power;\nmsg.sitecode = global.get(\"sitecode\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["28ce1f1f.94002","d9045a17.91e828","ed7775f0.e9fc78","8a3e907c.1ac64","d46c20ca.92b4","e0a336cf.b87a08","664a22a5.a413cc","6bb752d2.f44a6c","f57173b.dbc589","f0f639c8.20c918","81da71a8.4b3c3","275db5db.486e9a","fb35007f.7b84b"]]},{"id":"8a3e907c.1ac64","type":"ui_text","z":"d55d640c.7df008","group":"7f7a38ac.093fc","order":4,"width":0,"height":0,"name":"","label":"Site Longitude:","format":"{{msg.longitude}}","layout":"row-spread","x":1000,"y":300,"wires":[]},{"id":"ed7775f0.e9fc78","type":"ui_text","z":"d55d640c.7df008","group":"7f7a38ac.093fc","order":5,"width":0,"height":0,"name":"","label":"Site Latitude:","format":"{{msg.latitude}}","layout":"row-spread","x":990,"y":260,"wires":[]},{"id":"63130609.528d28","type":"function","z":"d55d640c.7df008","name":"","func":"var latitude = msg.payload;\nglobal.set(\"latitude\",latitude);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[[]]},{"id":"2323095b.6b5806","type":"ui_text_input","z":"d55d640c.7df008","name":"","label":"Site Latitude","tooltip":"","group":"52fef6e.8d7a888","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":90,"y":500,"wires":[["63130609.528d28","9f2256de.31b418"]]},{"id":"e25c3344.f5dbd","type":"function","z":"d55d640c.7df008","name":"","func":"var longitude = msg.payload;\nglobal.set(\"longitude\",longitude);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":440,"wires":[[]]},{"id":"5303db25.a5ff94","type":"ui_text_input","z":"d55d640c.7df008","name":"","label":"Site Longitude","tooltip":"","group":"52fef6e.8d7a888","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":100,"y":440,"wires":[["e25c3344.f5dbd","9f2256de.31b418"]]},{"id":"d46c20ca.92b4","type":"ui_gauge","z":"d55d640c.7df008","name":"","group":"1174a2e4.8877e5","order":2,"width":6,"height":6,"gtype":"gage","title":"Power","label":"KW","format":"{{msg.power.toFixed(3)}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"230","x":970,"y":340,"wires":[]},{"id":"e0a336cf.b87a08","type":"ui_gauge","z":"d55d640c.7df008","name":"","group":"3609e511.8a4d72","order":1,"width":6,"height":6,"gtype":"gage","title":"Resistance In","label":"Ohms (Ω)","format":"{{msg.resistance1}}","min":"19","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":460,"wires":[]},{"id":"664a22a5.a413cc","type":"ui_gauge","z":"d55d640c.7df008","name":"","group":"3609e511.8a4d72","order":2,"width":6,"height":6,"gtype":"gage","title":"Coefficient In","label":"","format":"{{msg.coefficient}}","min":"0.003","max":"0.004","colors":["#00b500","#00b600","#00b600"],"seg1":"","seg2":"","x":990,"y":540,"wires":[]},{"id":"f468f2e5.0ee2d","type":"ui_text_input","z":"d55d640c.7df008","name":"","label":"Coefficient In (0.003 - 0.004)","tooltip":"","group":"186468bd.8f1c3f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","topicType":"str","x":140,"y":100,"wires":[["5dc4d9dc.41b928","9f2256de.31b418"]]},{"id":"f57173b.dbc589","type":"ui_gauge","z":"d55d640c.7df008","name":"","group":"1fc9c973.17757f","order":1,"width":6,"height":6,"gtype":"gage","title":"Resistance Out","label":"Ohms (Ω)","format":"{{msg.resistance2}}","min":"19","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":500,"wires":[]},{"id":"62fbc.697da0448","type":"ui_slider","z":"d55d640c.7df008","name":"","label":"Resistance In (Ω)","tooltip":"","group":"186468bd.8f1c3f","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"19","max":"180","step":1,"x":110,"y":560,"wires":[["305b1931.b4b316","9f2256de.31b418"]]},{"id":"305b1931.b4b316","type":"function","z":"d55d640c.7df008","name":"","func":"var r = msg.payload;\n\nglobal.set(\"resistance1\", r);\n\nmsg.payload = global.get(\"resistance1\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":560,"wires":[[]]},{"id":"ad1b613a.df83c","type":"ui_slider","z":"d55d640c.7df008","name":"","label":"Resistance Out (Ω)","tooltip":"","group":"186468bd.8f1c3f","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"19","max":"180","step":1,"x":110,"y":620,"wires":[["af9c3266.086d9","9f2256de.31b418"]]},{"id":"af9c3266.086d9","type":"function","z":"d55d640c.7df008","name":"","func":"var r = msg.payload;\n\nglobal.set(\"resistance2\", r);\n\nmsg.payload = global.get(\"resistance2\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":620,"wires":[[]]},{"id":"6bb752d2.f44a6c","type":"ui_gauge","z":"d55d640c.7df008","name":"","group":"1fc9c973.17757f","order":2,"width":6,"height":6,"gtype":"gage","title":"Coefficient Out","label":"","format":"{{msg.coefficient2}}","min":"0.003","max":"0.004","colors":["#00b500","#00b600","#00b600"],"seg1":"","seg2":"","x":1000,"y":580,"wires":[]},{"id":"a30c02ce.aaf4e","type":"ui_text_input","z":"d55d640c.7df008","name":"","label":"Coefficient Out (0.003 - 0.004)","tooltip":"","group":"186468bd.8f1c3f","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","topicType":"str","x":150,"y":680,"wires":[["b7f2eefe.dbc23","9f2256de.31b418"]]},{"id":"b7f2eefe.dbc23","type":"function","z":"d55d640c.7df008","name":"","func":"var a0 = msg.payload;\nglobal.set(\"a02\",a0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":680,"wires":[[]]},{"id":"f0f639c8.20c918","type":"ui_gauge","z":"d55d640c.7df008","name":"","group":"1174a2e4.8877e5","order":1,"width":6,"height":6,"gtype":"gage","title":"Flow Rate","label":"Liters/Min","format":"{{msg.flow}}","min":"0","max":"75","colors":["#00b500","#fefb00","#ff2600"],"seg1":"","seg2":"","x":980,"y":620,"wires":[]},{"id":"198c94bd.f733cb","type":"ui_slider","z":"d55d640c.7df008","name":"","label":"Flow Rate (Liters per Minute)","tooltip":"","group":"186468bd.8f1c3f","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"75","step":1,"x":140,"y":740,"wires":[["4bb04746.498cc8","9f2256de.31b418"]]},{"id":"4bb04746.498cc8","type":"function","z":"d55d640c.7df008","name":"","func":"var f = msg.payload;\n\nglobal.set(\"flow\", f);\n\nmsg.payload = global.get(\"flow\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":740,"wires":[[]]},{"id":"81da71a8.4b3c3","type":"ui_gauge","z":"d55d640c.7df008","name":"","group":"3609e511.8a4d72","order":3,"width":6,"height":6,"gtype":"gage","title":"Temperature In","label":"°C","format":"{{msg.tempIn}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":380,"wires":[]},{"id":"275db5db.486e9a","type":"ui_gauge","z":"d55d640c.7df008","name":"","group":"1fc9c973.17757f","order":3,"width":6,"height":6,"gtype":"gage","title":"Temperature Out","label":"°C","format":"{{msg.tempOut}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":420,"wires":[]},{"id":"2863411e.a1490e","type":"ui_text_input","z":"d55d640c.7df008","name":"","label":"Site Code","tooltip":"","group":"52fef6e.8d7a888","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":80,"y":260,"wires":[["eced7fc7.ba2ba","9f2256de.31b418"]]},{"id":"eced7fc7.ba2ba","type":"function","z":"d55d640c.7df008","name":"","func":"msg.payload\n\nvar sitecode = msg.payload;\nglobal.set(\"sitecode\",sitecode);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":320,"wires":[[]]},{"id":"fb35007f.7b84b","type":"ui_text","z":"d55d640c.7df008","group":"7f7a38ac.093fc","order":3,"width":0,"height":0,"name":"","label":"Site Code:","format":"{{msg.sitecode}}","layout":"row-spread","x":990,"y":220,"wires":[]},{"id":"47d05ea0.c8853","type":"ui_button","z":"d55d640c.7df008","name":"","group":"1174a2e4.8877e5","order":3,"width":"0","height":"0","passthru":false,"label":"Send Immediate Reading","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":1030,"y":660,"wires":[["666a9034.4db72"]]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","tls":"","clientid":"test-harness","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52fef6e.8d7a888","type":"ui_group","name":"Site Configuration","tab":"e9f26224.d858f8","order":5,"disp":true,"width":8,"collapse":true},{"id":"7f7a38ac.093fc","type":"ui_group","name":"Site Values","tab":"e9f26224.d858f8","order":4,"disp":true,"width":"8","collapse":false},{"id":"1174a2e4.8877e5","type":"ui_group","name":"Power Calculation","tab":"e9f26224.d858f8","order":1,"disp":true,"width":"24","collapse":false},{"id":"3609e511.8a4d72","type":"ui_group","name":"Thermistor In","tab":"e9f26224.d858f8","order":2,"disp":true,"width":"24","collapse":false},{"id":"186468bd.8f1c3f","type":"ui_group","name":"Testing Sensor Configuration","tab":"e9f26224.d858f8","order":6,"disp":true,"width":"8","collapse":true},{"id":"1fc9c973.17757f","type":"ui_group","name":"Thermistor Out","tab":"e9f26224.d858f8","order":3,"disp":true,"width":"24","collapse":false},{"id":"e9f26224.d858f8","type":"ui_tab","name":"Transmission Power Monitoring System","icon":"dashboard","disabled":false,"hidden":false}]