transmission_strength_monitoring_system/raspberrypi_1/Remote_Site_Flows_Raspberry_Pi_1.json
[{"id":"b3c45b8e.53177","type":"tab","label":"Sensor Configuration","disabled":false,"info":"This flow provides a user interface for configuring two thermistors and a flow monitor. From the UI, dummy resistance values can be set which are output periodically or manually to an MQTT broker."},{"id":"276111d7.3e65ce","type":"function","z":"b3c45b8e.53177","name":"","func":"var a0 = msg.payload;\nglobal.set(\"a0\",a0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[[]]},{"id":"a812128d.7e9cd8","type":"function","z":"b3c45b8e.53177","name":"Set Global Variables","func":"var sitename = \"Wrotham\";\nvar transmitter = \"Transmitter1\";\nvar Rt = 0;\nvar r0 = 100;\nvar a0 = 0.003927;\nvar t = 20;\nvar voltage = 240;\nvar longitude = 0.29849581684507465;\nvar latitude = 51.31051736967821;\n\n\n// global.set(\"coefficient\",coefficient);\nglobal.set(\"sitename\", sitename);\nglobal.set(\"transmitter\", transmitter);\nglobal.set(\"Rt\", Rt);\nglobal.set(\"r0\", r0);\nglobal.set(\"a0\", a0);\nglobal.set(\"a02\", a0);\nglobal.set(\"t\", t);\nglobal.set(\"voltage\", voltage);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"resistance1\", 100),\nglobal.set(\"resistance2\", 100),\nglobal.set(\"flow\", 40),\nglobal.set(\"sitecode\", \"Wro\"),\n\n\nmsg.payload = \n{\"sitename\": global.get('sitename'), \n\"transmitter\": global.get('transmitter'),\n\"Rt\": global.get(\"Rt\"),\n\"r0\": global.get(\"r0\"),\n\"a0\": global.get(\"a0\"),\n\"t\": global.get(\"t\"),\n\"voltage\": global.get(\"voltage\"),\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":40,"wires":[[]]},{"id":"96e970d6.b3db08","type":"mqtt out","z":"b3c45b8e.53177","name":"MQTT out","topic":"","qos":"2","retain":"","broker":"72c39b90.91b164","x":1260,"y":700,"wires":[]},{"id":"b73d97a9.6aed38","type":"inject","z":"b3c45b8e.53177","name":"Start","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":850,"y":760,"wires":[["844b662f.7c7e48"]]},{"id":"844b662f.7c7e48","type":"function","z":"b3c45b8e.53177","name":"Create JSON","func":"sitename = global.get(\"sitename\");\ntransmitter = global.get(\"transmitter\");\ntimestamp = new Date();\n\nvar data = {\n    \"tempIn\": global.get('temperatureIn'),\n    \"tempOut\": global.get('temperatureOut'),\n    \"powerLevel\": global.get(\"power\"),\n    \"flowRate\": global.get(\"flow\"),\n    \"latitude\": global.get(\"latitude\"),\n    \"longitude\": global.get(\"longitude\"),\n    \"resistanceIn\": global.get(\"resistance1\"),\n    \"resistanceOut\": global.get(\"resistance2\"),\n    \"coefficientIn\": global.get('a0'),\n    \"coefficientOut\": a02 = global.get('a02'),\n    \"sitecode\": global.get(\"sitecode\"),\n    \"timestamp\": timestamp\n};\n    \nmsg.payload = data;\nmsg.topic = \"Arqiva/\" + sitename + \"/\" + transmitter;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":760,"wires":[["2542e64.49cdd1a","96e970d6.b3db08"]]},{"id":"2542e64.49cdd1a","type":"debug","z":"b3c45b8e.53177","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":760,"wires":[]},{"id":"6554bfc3.7072f","type":"inject","z":"b3c45b8e.53177","name":"Init","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["a812128d.7e9cd8","eac8916a.96b6d"]]},{"id":"cdc65420.c797","type":"ui_text_input","z":"b3c45b8e.53177","name":"","label":"Site Name","tooltip":"","group":"52fef6e.8d7a888","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":90,"y":146,"wires":[["c2b8f03f.3029c8","eac8916a.96b6d"]]},{"id":"c2b8f03f.3029c8","type":"function","z":"b3c45b8e.53177","name":"","func":"msg.payload\n\nvar sitename = msg.payload;\nglobal.set(\"sitename\",sitename);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":147,"wires":[[]]},{"id":"e39ba284.ce9ed8","type":"ui_text_input","z":"b3c45b8e.53177","name":"","label":"Transmitter Name","tooltip":"","group":"52fef6e.8d7a888","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["4109318b.363628","eac8916a.96b6d"]]},{"id":"4109318b.363628","type":"function","z":"b3c45b8e.53177","name":"","func":"msg.payload\n\nvar transmitter = msg.payload;\nglobal.set(\"transmitter\",transmitter);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[[]]},{"id":"e169c81.4863e38","type":"ui_text","z":"b3c45b8e.53177","group":"7f7a38ac.093fc","order":2,"width":0,"height":0,"name":"","label":"Transmitter Name:","format":"{{msg.transmitter}}","layout":"row-spread","x":1010,"y":180,"wires":[]},{"id":"ce650309.36765","type":"ui_text","z":"b3c45b8e.53177","group":"7f7a38ac.093fc","order":1,"width":0,"height":0,"name":"","label":"Site Name:","format":"{{msg.sitename}}","layout":"row-spread","x":990,"y":140,"wires":[]},{"id":"eac8916a.96b6d","type":"function","z":"b3c45b8e.53177","name":"","func":"r0 = global.get('r0');\na0 = global.get('a0');\na02 = global.get('a02');\nt = global.get('t');\nrt = global.get(\"resistance1\");\nrt2 = global.get(\"resistance2\");\nflowRate = global.get(\"flow\");\n\ntemperatureIn = (rt/(r0 * a0) - (1/a0));\ntemperatureOut = (rt2/(r0 * a02) - (1/a02));\nglobal.set(\"temperatureIn\", temperatureIn);\nglobal.set(\"temperatureOut\", temperatureOut);\n\npower = (temperatureOut - temperatureIn) * flowRate * 0.07;\n\nglobal.set(\"power\", power);\n\nmsg.tempIn = temperatureIn.toFixed(3),\nmsg.tempOut = temperatureOut.toFixed(3),\nmsg.voltage = global.get(\"voltage\"),\nmsg.sitename = global.get(\"sitename\"),\nmsg.transmitter = global.get(\"transmitter\"),\nmsg.coefficient = global.get(\"a0\"),\nmsg.coefficient2 = global.get(\"a02\"),\nmsg.longitude = global.get(\"longitude\"),\nmsg.latitude = global.get(\"latitude\"),\nmsg.resistance1 = global.get(\"resistance1\"),\nmsg.resistance2 = global.get(\"resistance2\"),\nmsg.flow = flowRate,\nmsg.power = power;\nmsg.sitecode = global.get(\"sitecode\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["ce650309.36765","e169c81.4863e38","3fb5d867.bbedc8","1f500eee.98fdd9","8155a648.02abf8","d6a42c55.485fd8","1ba76c98.33567b","4ca0b3ac.504adc","d7396ba1.1c9f88","a9fecb7c.cdbbe","c0bcd24d.8de89","fae80a17.122058","51740ace.2098ec"]]},{"id":"1f500eee.98fdd9","type":"ui_text","z":"b3c45b8e.53177","group":"7f7a38ac.093fc","order":4,"width":0,"height":0,"name":"","label":"Site Longitude:","format":"{{msg.longitude}}","layout":"row-spread","x":1000,"y":300,"wires":[]},{"id":"3fb5d867.bbedc8","type":"ui_text","z":"b3c45b8e.53177","group":"7f7a38ac.093fc","order":5,"width":0,"height":0,"name":"","label":"Site Latitude:","format":"{{msg.latitude}}","layout":"row-spread","x":990,"y":260,"wires":[]},{"id":"aa9f4323.aa05d8","type":"function","z":"b3c45b8e.53177","name":"","func":"var latitude = msg.payload;\nglobal.set(\"latitude\",latitude);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[[]]},{"id":"dc1c760f.48e668","type":"ui_text_input","z":"b3c45b8e.53177","name":"","label":"Site Latitude","tooltip":"","group":"52fef6e.8d7a888","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":90,"y":500,"wires":[["aa9f4323.aa05d8","eac8916a.96b6d"]]},{"id":"9f356d18.f52d9","type":"function","z":"b3c45b8e.53177","name":"","func":"var longitude = msg.payload;\nglobal.set(\"longitude\",longitude);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":440,"wires":[[]]},{"id":"bb6c6127.80573","type":"ui_text_input","z":"b3c45b8e.53177","name":"","label":"Site Longitude","tooltip":"","group":"52fef6e.8d7a888","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":100,"y":440,"wires":[["9f356d18.f52d9","eac8916a.96b6d"]]},{"id":"8155a648.02abf8","type":"ui_gauge","z":"b3c45b8e.53177","name":"","group":"1174a2e4.8877e5","order":2,"width":6,"height":6,"gtype":"gage","title":"Power","label":"KW","format":"{{msg.power.toFixed(3)}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"230","x":970,"y":340,"wires":[]},{"id":"d6a42c55.485fd8","type":"ui_gauge","z":"b3c45b8e.53177","name":"","group":"3609e511.8a4d72","order":1,"width":6,"height":6,"gtype":"gage","title":"Resistance In","label":"Ohms (Ω)","format":"{{msg.resistance1}}","min":"19","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":460,"wires":[]},{"id":"1ba76c98.33567b","type":"ui_gauge","z":"b3c45b8e.53177","name":"","group":"3609e511.8a4d72","order":2,"width":6,"height":6,"gtype":"gage","title":"Coefficient In","label":"","format":"{{msg.coefficient}}","min":"0.003","max":"0.004","colors":["#00b500","#00b600","#00b600"],"seg1":"","seg2":"","x":990,"y":540,"wires":[]},{"id":"600d225a.7611d4","type":"ui_text_input","z":"b3c45b8e.53177","name":"","label":"Coefficient In (0.003 - 0.004)","tooltip":"","group":"186468bd.8f1c3f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","topicType":"str","x":140,"y":100,"wires":[["276111d7.3e65ce","eac8916a.96b6d"]]},{"id":"d7396ba1.1c9f88","type":"ui_gauge","z":"b3c45b8e.53177","name":"","group":"1fc9c973.17757f","order":1,"width":6,"height":6,"gtype":"gage","title":"Resistance Out","label":"Ohms (Ω)","format":"{{msg.resistance2}}","min":"19","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":500,"wires":[]},{"id":"a000a484.376c8","type":"ui_slider","z":"b3c45b8e.53177","name":"","label":"Resistance In (Ω)","tooltip":"","group":"186468bd.8f1c3f","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"19","max":"180","step":1,"x":110,"y":560,"wires":[["6a2c21ef.aaef48","eac8916a.96b6d"]]},{"id":"6a2c21ef.aaef48","type":"function","z":"b3c45b8e.53177","name":"","func":"var r = msg.payload;\n\nglobal.set(\"resistance1\", r);\n\nmsg.payload = global.get(\"resistance1\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":560,"wires":[[]]},{"id":"4baad8a.4591d28","type":"ui_slider","z":"b3c45b8e.53177","name":"","label":"Resistance Out (Ω)","tooltip":"","group":"186468bd.8f1c3f","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"19","max":"180","step":1,"x":110,"y":620,"wires":[["8606e5c8.fd11e","eac8916a.96b6d"]]},{"id":"8606e5c8.fd11e","type":"function","z":"b3c45b8e.53177","name":"","func":"var r = msg.payload;\n\nglobal.set(\"resistance2\", r);\n\nmsg.payload = global.get(\"resistance2\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":620,"wires":[[]]},{"id":"4ca0b3ac.504adc","type":"ui_gauge","z":"b3c45b8e.53177","name":"","group":"1fc9c973.17757f","order":2,"width":6,"height":6,"gtype":"gage","title":"Coefficient Out","label":"","format":"{{msg.coefficient2}}","min":"0.003","max":"0.004","colors":["#00b500","#00b600","#00b600"],"seg1":"","seg2":"","x":1000,"y":580,"wires":[]},{"id":"c97a2945.cf3ab8","type":"ui_text_input","z":"b3c45b8e.53177","name":"","label":"Coefficient Out (0.003 - 0.004)","tooltip":"","group":"186468bd.8f1c3f","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","topicType":"str","x":150,"y":680,"wires":[["cd1db295.268f1","eac8916a.96b6d"]]},{"id":"cd1db295.268f1","type":"function","z":"b3c45b8e.53177","name":"","func":"var a0 = msg.payload;\nglobal.set(\"a02\",a0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":680,"wires":[[]]},{"id":"a9fecb7c.cdbbe","type":"ui_gauge","z":"b3c45b8e.53177","name":"","group":"1174a2e4.8877e5","order":1,"width":6,"height":6,"gtype":"gage","title":"Flow Rate","label":"Liters/Min","format":"{{msg.flow}}","min":"0","max":"75","colors":["#00b500","#fefb00","#ff2600"],"seg1":"","seg2":"","x":980,"y":620,"wires":[]},{"id":"9859d004.4565e","type":"ui_slider","z":"b3c45b8e.53177","name":"","label":"Flow Rate (Liters per Minute)","tooltip":"","group":"186468bd.8f1c3f","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"75","step":1,"x":140,"y":740,"wires":[["2091d9d2.7155a6","eac8916a.96b6d"]]},{"id":"2091d9d2.7155a6","type":"function","z":"b3c45b8e.53177","name":"","func":"var f = msg.payload;\n\nglobal.set(\"flow\", f);\n\nmsg.payload = global.get(\"flow\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":740,"wires":[[]]},{"id":"c0bcd24d.8de89","type":"ui_gauge","z":"b3c45b8e.53177","name":"","group":"3609e511.8a4d72","order":3,"width":6,"height":6,"gtype":"gage","title":"Temperature In","label":"°C","format":"{{msg.tempIn}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":380,"wires":[]},{"id":"fae80a17.122058","type":"ui_gauge","z":"b3c45b8e.53177","name":"","group":"1fc9c973.17757f","order":3,"width":6,"height":6,"gtype":"gage","title":"Temperature Out","label":"°C","format":"{{msg.tempOut}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":420,"wires":[]},{"id":"d97eb411.939d1","type":"ui_text_input","z":"b3c45b8e.53177","name":"","label":"Site Code","tooltip":"","group":"52fef6e.8d7a888","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":80,"y":260,"wires":[["df61e57c.083018","eac8916a.96b6d"]]},{"id":"df61e57c.083018","type":"function","z":"b3c45b8e.53177","name":"","func":"msg.payload\n\nvar sitecode = msg.payload;\nglobal.set(\"sitecode\",sitecode);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":320,"wires":[[]]},{"id":"51740ace.2098ec","type":"ui_text","z":"b3c45b8e.53177","group":"7f7a38ac.093fc","order":3,"width":0,"height":0,"name":"","label":"Site Code:","format":"{{msg.sitecode}}","layout":"row-spread","x":990,"y":220,"wires":[]},{"id":"65c9c086.af5a","type":"ui_button","z":"b3c45b8e.53177","name":"","group":"1174a2e4.8877e5","order":3,"width":"0","height":"0","passthru":false,"label":"Send Immediate Reading","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":1030,"y":660,"wires":[["844b662f.7c7e48"]]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","tls":"","clientid":"test-harness","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52fef6e.8d7a888","type":"ui_group","name":"Site Configuration","tab":"e9f26224.d858f8","order":5,"disp":true,"width":8,"collapse":true},{"id":"7f7a38ac.093fc","type":"ui_group","name":"Site Values","tab":"e9f26224.d858f8","order":4,"disp":true,"width":"8","collapse":false},{"id":"1174a2e4.8877e5","type":"ui_group","name":"Power Calculation","tab":"e9f26224.d858f8","order":1,"disp":true,"width":"24","collapse":false},{"id":"3609e511.8a4d72","type":"ui_group","name":"Thermistor In","tab":"e9f26224.d858f8","order":2,"disp":true,"width":"24","collapse":false},{"id":"186468bd.8f1c3f","type":"ui_group","name":"Testing Sensor Configuration","tab":"e9f26224.d858f8","order":6,"disp":true,"width":"8","collapse":true},{"id":"1fc9c973.17757f","type":"ui_group","name":"Thermistor Out","tab":"e9f26224.d858f8","order":3,"disp":true,"width":"24","collapse":false},{"id":"e9f26224.d858f8","type":"ui_tab","name":"Transmission Power Monitoring System","icon":"dashboard","disabled":false,"hidden":false}]