transmission_strength_monitoring_system/raspberrypi_1/Remote_Site_Flows_Raspberry_Pi_1.json
[{"id":"fb355c2f.e1c478","type":"tab","label":"Sensor Configuration","disabled":false,"info":"This flow provides a user interface for configuring two thermistors and a flow monitor. From the UI, dummy resistance values can be set which are output periodically or manually to an MQTT broker."},{"id":"3e9ac81e.3e8a08","type":"function","z":"fb355c2f.e1c478","name":"","func":"var a0 = msg.payload;\nglobal.set(\"a0\",a0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[[]]},{"id":"2bb2beef.48ebf2","type":"function","z":"fb355c2f.e1c478","name":"Set Global Variables","func":"var sitename = \"\";\nvar transmitter = \"\";\nvar Rt = 0;\nvar r0 = 100;\nvar a0 = 0.003927;\nvar t = 20;\nvar voltage = 240;\nvar longitude = 0.0;\nvar latitude = 0.0;\n\n\n// global.set(\"coefficient\",coefficient);\nglobal.set(\"sitename\", sitename);\nglobal.set(\"transmitter\", transmitter);\nglobal.set(\"Rt\", Rt);\nglobal.set(\"r0\", r0);\nglobal.set(\"a0\", a0);\nglobal.set(\"a02\", a0);\nglobal.set(\"t\", t);\nglobal.set(\"voltage\", voltage);\nglobal.set(\"longitude\", longitude);\nglobal.set(\"latitude\", latitude);\nglobal.set(\"resistance1\", 100),\nglobal.set(\"resistance2\", 100),\nglobal.set(\"flow\", 40),\nglobal.set(\"sitecode\", \"\"),\n\n\nmsg.payload = \n{\"sitename\": global.get('sitename'), \n\"transmitter\": global.get('transmitter'),\n\"Rt\": global.get(\"Rt\"),\n\"r0\": global.get(\"r0\"),\n\"a0\": global.get(\"a0\"),\n\"t\": global.get(\"t\"),\n\"voltage\": global.get(\"voltage\"),\n};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":40,"wires":[[]]},{"id":"fd9e64b9.5c2ee8","type":"mqtt out","z":"fb355c2f.e1c478","name":"MQTT out","topic":"","qos":"2","retain":"","broker":"72c39b90.91b164","x":1260,"y":700,"wires":[]},{"id":"47e6883c.e1af6","type":"inject","z":"fb355c2f.e1c478","name":"Start","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":850,"y":760,"wires":[["6c659cc3.ce5574"]]},{"id":"6c659cc3.ce5574","type":"function","z":"fb355c2f.e1c478","name":"Create JSON","func":"sitename = global.get(\"sitename\");\ntransmitter = global.get(\"transmitter\");\ntimestamp = new Date();\n\nvar data = {\n    \"tempIn\": global.get('temperatureIn'),\n    \"tempOut\": global.get('temperatureOut'),\n    \"powerLevel\": global.get(\"power\"),\n    \"flowRate\": global.get(\"flow\"),\n    \"latitude\": global.get(\"latitude\"),\n    \"longitude\": global.get(\"longitude\"),\n    \"resistanceIn\": global.get(\"resistance1\"),\n    \"resistanceOut\": global.get(\"resistance2\"),\n    \"coefficientIn\": global.get('a0'),\n    \"coefficientOut\": a02 = global.get('a02'),\n    \"sitecode\": global.get(\"sitecode\"),\n    \"timestamp\": timestamp\n};\n    \nmsg.payload = data;\nmsg.topic = \"Arqiva/\" + sitename + \"/\" + transmitter;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":760,"wires":[["470826e9.0e20d","fd9e64b9.5c2ee8"]]},{"id":"470826e9.0e20d","type":"debug","z":"fb355c2f.e1c478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":760,"wires":[]},{"id":"fa6febe5.58d1d","type":"inject","z":"fb355c2f.e1c478","name":"Init","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["2bb2beef.48ebf2","63909171.c1c6a"]]},{"id":"5ee61867.96c248","type":"ui_text_input","z":"fb355c2f.e1c478","name":"","label":"Site Name","tooltip":"","group":"52fef6e.8d7a888","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":90,"y":146,"wires":[["b34aaeb0.6fc568","63909171.c1c6a"]]},{"id":"b34aaeb0.6fc568","type":"function","z":"fb355c2f.e1c478","name":"","func":"msg.payload\n\nvar sitename = msg.payload;\nglobal.set(\"sitename\",sitename);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":147,"wires":[[]]},{"id":"277bdad7.250a56","type":"ui_text_input","z":"fb355c2f.e1c478","name":"","label":"Transmitter Name","tooltip":"","group":"52fef6e.8d7a888","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":110,"y":200,"wires":[["8b66ec1e.9ab7","63909171.c1c6a"]]},{"id":"8b66ec1e.9ab7","type":"function","z":"fb355c2f.e1c478","name":"","func":"msg.payload\n\nvar transmitter = msg.payload;\nglobal.set(\"transmitter\",transmitter);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[[]]},{"id":"d00f6cbe.4ff67","type":"ui_text","z":"fb355c2f.e1c478","group":"7f7a38ac.093fc","order":2,"width":0,"height":0,"name":"","label":"Transmitter Name:","format":"{{msg.transmitter}}","layout":"row-spread","x":1010,"y":180,"wires":[]},{"id":"d2a5e19b.596518","type":"ui_text","z":"fb355c2f.e1c478","group":"7f7a38ac.093fc","order":1,"width":0,"height":0,"name":"","label":"Site Name:","format":"{{msg.sitename}}","layout":"row-spread","x":990,"y":140,"wires":[]},{"id":"63909171.c1c6a","type":"function","z":"fb355c2f.e1c478","name":"","func":"r0 = global.get('r0');\na0 = global.get('a0');\na02 = global.get('a02');\nt = global.get('t');\nrt = global.get(\"resistance1\");\nrt2 = global.get(\"resistance2\");\nflowRate = global.get(\"flow\");\npower = 0;\ntemperatureIn = 0;\ntemperatureOut = 0;\n\ntemperatureIn = (rt/(r0 * a0) - (1/a0));\ntemperatureOut = (rt2/(r0 * a02) - (1/a02));\nglobal.set(\"temperatureIn\", temperatureIn);\nglobal.set(\"temperatureOut\", temperatureOut);\n\npower = (temperatureOut - temperatureIn) * flowRate * 0.07;\n\nglobal.set(\"power\", power);\n\nmsg.tempIn = temperatureIn.toFixed(3),\nmsg.tempOut = temperatureOut.toFixed(3),\nmsg.voltage = global.get(\"voltage\"),\nmsg.sitename = global.get(\"sitename\"),\nmsg.transmitter = global.get(\"transmitter\"),\nmsg.coefficient = global.get(\"a0\"),\nmsg.coefficient2 = global.get(\"a02\"),\nmsg.longitude = global.get(\"longitude\"),\nmsg.latitude = global.get(\"latitude\"),\nmsg.resistance1 = global.get(\"resistance1\"),\nmsg.resistance2 = global.get(\"resistance2\"),\nmsg.flow = flowRate,\nmsg.power = power;\nmsg.sitecode = global.get(\"sitecode\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["d2a5e19b.596518","d00f6cbe.4ff67","2120222d.b2ecd6","be0ae584.31977","a295f031.e53ef","3269960a.93f732","990e4596.1cf15","994575e.9fc1788","9a975be0.5e7b78","9a3d36b8.625878","2c6f45fb.247832","495be7bc.75ed58","4846f0ce.694438"]]},{"id":"be0ae584.31977","type":"ui_text","z":"fb355c2f.e1c478","group":"7f7a38ac.093fc","order":4,"width":0,"height":0,"name":"","label":"Site Longitude:","format":"{{msg.longitude}}","layout":"row-spread","x":1000,"y":300,"wires":[]},{"id":"2120222d.b2ecd6","type":"ui_text","z":"fb355c2f.e1c478","group":"7f7a38ac.093fc","order":5,"width":0,"height":0,"name":"","label":"Site Latitude:","format":"{{msg.latitude}}","layout":"row-spread","x":990,"y":260,"wires":[]},{"id":"a2f58d8e.09d81","type":"function","z":"fb355c2f.e1c478","name":"","func":"var latitude = msg.payload;\nglobal.set(\"latitude\",latitude);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[[]]},{"id":"731bf758.a47c08","type":"ui_text_input","z":"fb355c2f.e1c478","name":"","label":"Site Latitude","tooltip":"","group":"52fef6e.8d7a888","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":90,"y":500,"wires":[["a2f58d8e.09d81","63909171.c1c6a"]]},{"id":"14728d32.8ba64b","type":"function","z":"fb355c2f.e1c478","name":"","func":"var longitude = msg.payload;\nglobal.set(\"longitude\",longitude);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":440,"wires":[[]]},{"id":"3e41c5ec.e46dca","type":"ui_text_input","z":"fb355c2f.e1c478","name":"","label":"Site Longitude","tooltip":"","group":"52fef6e.8d7a888","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","topicType":"msg","x":100,"y":440,"wires":[["14728d32.8ba64b","63909171.c1c6a"]]},{"id":"a295f031.e53ef","type":"ui_gauge","z":"fb355c2f.e1c478","name":"","group":"1174a2e4.8877e5","order":2,"width":6,"height":6,"gtype":"gage","title":"Power","label":"KW","format":"{{msg.power.toFixed(3)}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"200","seg2":"230","x":970,"y":340,"wires":[]},{"id":"3269960a.93f732","type":"ui_gauge","z":"fb355c2f.e1c478","name":"","group":"3609e511.8a4d72","order":1,"width":6,"height":6,"gtype":"gage","title":"Resistance In","label":"Ohms (Ω)","format":"{{msg.resistance1}}","min":"19","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":460,"wires":[]},{"id":"990e4596.1cf15","type":"ui_gauge","z":"fb355c2f.e1c478","name":"","group":"3609e511.8a4d72","order":2,"width":6,"height":6,"gtype":"gage","title":"Coefficient In","label":"","format":"{{msg.coefficient}}","min":"0.003","max":"0.004","colors":["#00b500","#00b600","#00b600"],"seg1":"","seg2":"","x":990,"y":540,"wires":[]},{"id":"6601dea1.acd468","type":"ui_text_input","z":"fb355c2f.e1c478","name":"","label":"Coefficient In (0.003 - 0.004)","tooltip":"","group":"186468bd.8f1c3f","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","topicType":"str","x":140,"y":100,"wires":[["3e9ac81e.3e8a08","63909171.c1c6a"]]},{"id":"9a975be0.5e7b78","type":"ui_gauge","z":"fb355c2f.e1c478","name":"","group":"1fc9c973.17757f","order":1,"width":6,"height":6,"gtype":"gage","title":"Resistance Out","label":"Ohms (Ω)","format":"{{msg.resistance2}}","min":"19","max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":500,"wires":[]},{"id":"a228f07b.642888","type":"ui_slider","z":"fb355c2f.e1c478","name":"","label":"Resistance In (Ω)","tooltip":"","group":"186468bd.8f1c3f","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"19","max":"180","step":1,"x":110,"y":560,"wires":[["1a5722d6.1bdac5","63909171.c1c6a"]]},{"id":"1a5722d6.1bdac5","type":"function","z":"fb355c2f.e1c478","name":"","func":"var r = msg.payload;\n\nglobal.set(\"resistance1\", r);\n\nmsg.payload = global.get(\"resistance1\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":560,"wires":[[]]},{"id":"3ed0c2d3.486c8e","type":"ui_slider","z":"fb355c2f.e1c478","name":"","label":"Resistance Out (Ω)","tooltip":"","group":"186468bd.8f1c3f","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"19","max":"180","step":1,"x":110,"y":620,"wires":[["9309a591.2ee7b8","63909171.c1c6a"]]},{"id":"9309a591.2ee7b8","type":"function","z":"fb355c2f.e1c478","name":"","func":"var r = msg.payload;\n\nglobal.set(\"resistance2\", r);\n\nmsg.payload = global.get(\"resistance2\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":620,"wires":[[]]},{"id":"994575e.9fc1788","type":"ui_gauge","z":"fb355c2f.e1c478","name":"","group":"1fc9c973.17757f","order":2,"width":6,"height":6,"gtype":"gage","title":"Coefficient Out","label":"","format":"{{msg.coefficient2}}","min":"0.003","max":"0.004","colors":["#00b500","#00b600","#00b600"],"seg1":"","seg2":"","x":1000,"y":580,"wires":[]},{"id":"cb50f46b.40a17","type":"ui_text_input","z":"fb355c2f.e1c478","name":"","label":"Coefficient Out (0.003 - 0.004)","tooltip":"","group":"186468bd.8f1c3f","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","topicType":"str","x":150,"y":680,"wires":[["328872be.a9576e","63909171.c1c6a"]]},{"id":"328872be.a9576e","type":"function","z":"fb355c2f.e1c478","name":"","func":"var a0 = msg.payload;\nglobal.set(\"a02\",a0);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":680,"wires":[[]]},{"id":"9a3d36b8.625878","type":"ui_gauge","z":"fb355c2f.e1c478","name":"","group":"1174a2e4.8877e5","order":1,"width":6,"height":6,"gtype":"gage","title":"Flow Rate","label":"Liters/Min","format":"{{msg.flow}}","min":"0","max":"75","colors":["#00b500","#fefb00","#ff2600"],"seg1":"","seg2":"","x":980,"y":620,"wires":[]},{"id":"752da39.adbf45c","type":"ui_slider","z":"fb355c2f.e1c478","name":"","label":"Flow Rate (Liters per Minute)","tooltip":"","group":"186468bd.8f1c3f","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"75","step":1,"x":140,"y":740,"wires":[["fbc8055.bbc58f8","63909171.c1c6a"]]},{"id":"fbc8055.bbc58f8","type":"function","z":"fb355c2f.e1c478","name":"","func":"var f = msg.payload;\n\nglobal.set(\"flow\", f);\n\nmsg.payload = global.get(\"flow\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":740,"wires":[[]]},{"id":"2c6f45fb.247832","type":"ui_gauge","z":"fb355c2f.e1c478","name":"","group":"3609e511.8a4d72","order":3,"width":6,"height":6,"gtype":"gage","title":"Temperature In","label":"°C","format":"{{msg.tempIn}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":380,"wires":[]},{"id":"495be7bc.75ed58","type":"ui_gauge","z":"fb355c2f.e1c478","name":"","group":"1fc9c973.17757f","order":3,"width":6,"height":6,"gtype":"gage","title":"Temperature Out","label":"°C","format":"{{msg.tempOut}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":420,"wires":[]},{"id":"1e70e560.e006ab","type":"ui_text_input","z":"fb355c2f.e1c478","name":"","label":"Site Code","tooltip":"","group":"52fef6e.8d7a888","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":80,"y":260,"wires":[["38ac0383.688fd4","63909171.c1c6a"]]},{"id":"38ac0383.688fd4","type":"function","z":"fb355c2f.e1c478","name":"","func":"msg.payload\n\nvar sitecode = msg.payload;\nglobal.set(\"sitecode\",sitecode);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":320,"wires":[[]]},{"id":"4846f0ce.694438","type":"ui_text","z":"fb355c2f.e1c478","group":"7f7a38ac.093fc","order":3,"width":0,"height":0,"name":"","label":"Site Code:","format":"{{msg.sitecode}}","layout":"row-spread","x":990,"y":220,"wires":[]},{"id":"cf3f6ea1.7a9488","type":"ui_button","z":"fb355c2f.e1c478","name":"","group":"1174a2e4.8877e5","order":3,"width":"0","height":"0","passthru":false,"label":"Send Immediate Reading","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":1030,"y":660,"wires":[["6c659cc3.ce5574"]]},{"id":"72c39b90.91b164","type":"mqtt-broker","name":"","broker":"broker","port":"1883","tls":"","clientid":"test-harness","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52fef6e.8d7a888","type":"ui_group","name":"Site Configuration","tab":"e9f26224.d858f8","order":5,"disp":true,"width":8,"collapse":true},{"id":"7f7a38ac.093fc","type":"ui_group","name":"Site Values","tab":"e9f26224.d858f8","order":4,"disp":true,"width":"8","collapse":false},{"id":"1174a2e4.8877e5","type":"ui_group","name":"Power Calculation","tab":"e9f26224.d858f8","order":1,"disp":true,"width":"24","collapse":false},{"id":"3609e511.8a4d72","type":"ui_group","name":"Thermistor In","tab":"e9f26224.d858f8","order":2,"disp":true,"width":"24","collapse":false},{"id":"186468bd.8f1c3f","type":"ui_group","name":"Testing Sensor Configuration","tab":"e9f26224.d858f8","order":6,"disp":true,"width":"8","collapse":true},{"id":"1fc9c973.17757f","type":"ui_group","name":"Thermistor Out","tab":"e9f26224.d858f8","order":3,"disp":true,"width":"24","collapse":false},{"id":"e9f26224.d858f8","type":"ui_tab","name":"Transmission Power Monitoring System","icon":"dashboard","disabled":false,"hidden":false}]